$headerGuide: #FFFFFF;
$header-guide-font: #000000;

ebay-headerGuide {
	#headerGuide {
		background: $headerGuide;
		color: $header-guide-font;
		margin: 0;
		padding-bottom: 0.5em;
		padding-top: 0.5em;

		a {
			color: $header-guide-font;
		}

	
	}
}