$header2: #A8CE80;
$header2-font: #FFFFFF;

ebay-header2 {
	#header2 {

		background: $header2;
		color: $header2-font;
		margin: 0;
		padding-bottom: 0.5em;
		padding-top: 0.5em;

		a {
			color: $header2-font;
		}

		#top-logo {
			font-size: 2em;
		}
	}
}