$header: #A8CE80;
$header-font: #FFFFFF;

ebay-header {

	#header {
		background: $header;
		color: $header-font;
		margin: 0;
		padding-bottom: 0.5em;
		padding-top: 0.5em;

		a {
			color: $header-font;
		}

		#top-logo {
			font-size: 2em;
		}
	}
}