$footer: #A8CE80;
$footer-font: #FFFFFF;

ebay-footer {
	#footer {
		background: $footer;
		color: $footer-font;
		margin: 0;
		padding-bottom: 0.5em;
		padding-top: 0.5em;

		a {
			color: $footer-font;
		}

		#top-logo {
			font-size: 2em;
		}
	}
}