$headerPromexico: #A8CE80;
$header-promexico-font: #FFFFFF;

ebay-headerPromexico {
	#headerPromexico {
		background: $headerPromexico;
		color: $header-promexico-font;
		margin: 0;
		padding-bottom: 0.5em;
		padding-top: 0.5em;

		a {
			color: $header-promexico-font;
		}

		#top-logo {
			font-size: 2em;
		}
	}
}