$headerSantander: #A8CE80;
$header-santander-font: #FFFFFF;

ebay-headerSantander {
	#headerSantander {
		background: $headerSantander;
		color: $header-santander-font;
		margin: 0;
		padding-bottom: 0.5em;
		padding-top: 0.5em;

		a {
			color: $header-santander-font;
		}

		#top-logo {
			font-size: 2em;
		}
	}
}