<nav class="navbar navbar-default navbar-bottom">
	<div class='container'>
		<center><img src="/images/logo_ebay.png" class="logo-footer"></center>
		<p class="text-center text-gray text-footer">Copyright © 1995-2017 eBay Inc. Todos los derechos reservados. <a class="text-midBlue" href=" http://pages.ebay.com/mx/es-co/help/policies/user-agreement.html" target=blank_>Condiciones de Uso</a>,
		<a class="text-midBlue" href="http://pages.ebay.com/mx/es-co/help/policies/privacy-policy.html" class="text-center" target="blank"_>Aviso de Privacidad</a>,<a class="text-midBlue" href="http://pages.ebay.com/co/es-co/help/account/cookies-web-beacons.html"> Cookies</a> 
		y <a class="text-midBlue" href=" http://cgi6.ebay.com/ws/eBayISAPI.dll?AdChoiceLandingPage&partner=0">AdChoice</a></p>
	
		<div class="row text-gray text-footer text-center">
			<div class="col-sm-2 col-sm-offset-2 col-xs-3">
				<a class="text-midBlue" href="http://www.ebayinc.com/ " target="_blank">Acerca de eBay</a>
			</div>
			<div class="col-sm-2 col-xs-3">
				<a class="text-midBlue" href="http://announcements.ebay.com/" target="_blank">Avisos</a>
			</div>
			<div class="col-sm-2 col-xs-3">
				<a class="text-midBlue" href="http://community.ebay.com/" target="_blank">Comunidad</a>
			</div>
			<div class="col-sm-2 col-xs-3">
				<a class="text-midBlue" href="http://pages.ebay.com/securitycenter/index.html" target="_blank">Centro de Seguridad</a>
			</div>
		</div>
			<div class="row text-gray text-footer text-center">
			<div class="col-sm-2 col-sm-offset-2 col-xs-3">
				<a class="text-midBlue" href="http://resolutioncenter.ebay.com/" target="_blank">Centro de resoluciones</a>
			</div>
			<div class="col-sm-2 col-xs-3">
				<a class="text-midBlue" href="http://pages.ebay.com/co/es-co/help/policies/overview.html" target="_blank">Políticas</a>
			</div>
			<div class="col-sm-2 col-xs-3">
				<a class="text-midBlue" href="http://pages.ebay.com/co/es-co/help/buy/language.html" target="_blank">Traducciones</a>
			</div>
			<div class="col-sm-2 col-xs-3">
				<a class="text-midBlue" data-target="#myModal3" data-toggle="modal">Ayuda y Contacto</a>
			</div>
		</div>
		
		<div class="modal2 fade bs-example-modal-sm" id="myModal3" role="dialog" >
    <div class="modal2-dialog modal-sm">
    
      <!-- Modal content-->
      <div class="modal2-content">
        <div class="modal2-body">
        	<center><h4 class="modal2-title">¡Contáctanos!</h4>
        	<!--<p>Teléfono: +52 (55) 53517409</p>-->
        	<p>contacto@soporteebay.com</p></center>
          <center><button type="button" class="btn btn-blue btn-large" data-dismiss="modal" ng-click="sendToMain()">Aceptar</button></center>
        </div>
        <div class="modal2-footer">
          <img src="/images/logo_ebay.png" class="logo-footer text-right">
        </div>
      </div>
      
    </div>
  </div>
		<br>
	</div>
</nav>
