

<nav class="navbar navbar-custom navbar-fixed-top">
	
	<div class='container'>

		<div class='navbar-header'>
			<a href='/promexico' class='navbar-brand'>
				<img src='/images/logo_ebay.png' class='logo-header'></img>
			</a>
			<a href='#' class='navbar-brand'>
				<img src='/images/ProM_EspanolHeader.png' class='logo-pro-header'></img>
			</a>
			<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
				<span class='sr-only'>Toggle navigation</span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
			</button>
		</div>
	
		<ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
			
			<li class="tab-text"><a href='/publicacionesOptimas'>Consejos</a></li>
			<li class="tab-text"><a href='/vendeEnEbay'>Vende en eBay</a></li>
			<li class="tab-text"><a href='/enviar'>Envíos</a></li>
			<li class="tab-text"><a href='/guia_paso1'>Guía Interactiva</a></li>
			<li class="tab-text"><a data-target="#myModal3" data-toggle="modal">Ayuda</a></li>
	
    		<!-- Modal HTML -->
    		
			<li class="tab-text navbar-button">
				<a>
					<button type="button" class="btn btn-blue btn-xs" ng-click="setFocusToTextBox()">&nbsp;&nbsp;Regístrate&nbsp;&nbsp;</button>
				</a>
			</li>
			
		</ul>
	
	</div>

</nav>

	<div class="modal2 fade bs-example-modal-sm" id="myModal3" role="dialog" >
    <div class="modal2-dialog modal-sm">
    
      <!-- Modal content-->
      <div class="modal2-content">
        <div class="modal2-body">
        	<center><h4 class="modal2-title">¡Contáctanos!</h4>
        	<!--<p>Teléfono: +52 (55) 53517409</p>-->
        	<p>contacto@soporteebay.com</p></center>
          <center><button type="button" class="btn btn-blue btn-large" data-dismiss="modal" ng-click="sendToMain()">Aceptar</button></center>
        </div>
        <div class="modal2-footer">
          <img src="/images/logo_ebay.png" class="logo-footer text-right">
        </div>
      </div>
      
    </div>
  </div>


