<nav class="navbar navbar-custom navbar-fixed-top">
	
	<div class='container'>
		<div class='navbar-header'>
			<a href='/' class='navbar-brand'>
				<img src='/images/logo_ebay.png' class='logo-header'></img>
			</a>
			<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
				<span class='sr-only'>Toggle navigation</span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
			</button>
		</div>
	 <br>
		<ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
			<li><a href='/guia_paso1'>Regístrate</a></li>
			<li><a href='/guia_paso2'>Pon en venta</a></li>
			<li><a href='/guia_paso3'>Sigue tu anuncio</a></li>
			<li><a href='/guia_paso4'>Envía</a></li>
			<li class="tab-text navbar-button">
				<a href="/files/InteractiveGuide.pdf" target="_blank" download>
					<button type="button" class="btn btn-blue btn-xs btn-block">Descargar guía</button><!--onclick="location.href='/files/guide.pdf';"-->
				</a>
			</li>
		</ul>
	</div>
</nav>