

<nav class="navbar navbar-custom navbar-fixed-top">
	
	<div class='container'>
		<div class='navbar-header'>
			<a href='/bienvenido' class='navbar-brand'>
				<img src='/images/logo_ebay.png' class='logo-header'></img>
			</a>
			<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
				<span class='sr-only'>Toggle navigation</span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
			</button>
		</div>
	 <br>
	<ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
	
			<li class="tab-text"><a href='/optimizaPublicaciones'>Consejos</a></li>
			<li class="text-midBlue"><a class="text-midBlue" href='/beneficiosEbay'>Vende en eBay</a></li>
			<li class="tab-text"><a href='/envios'>Envíos</a></li>
			<li class="tab-text"><a href='/guia_paso1'>Guía Interactiva</a></li>
			<li class="tab-text"><a data-target="#myModal3" data-toggle="modal">Ayuda</a></li>
			<li class="tab-text navbar-button">
				<a href='/bienvenido'>
					<button type="button" class="btn btn-first-blue btn-xs" onclick="window.location.href='/bienvenido/#registro'">&nbsp;&nbsp;Regístrate&nbsp;&nbsp;</button>
				</a>
			</li>
			
		</ul>
	</div>
	
</nav>

	<div class="modal2 fade bs-example-modal-md" id="myModal3" role="dialog" >
    <div class="modal2-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal2-content">
        <div class="modal2-body text-white popup-header-bg">
        	<br><br><br><br>
        	<center><h1 class="text-center ayuda-title">¿Necesitas ayuda?</h1></center>
        	<br>
        	<div class="row">
        		<div class="col-sm-offset-3 col-sm-6 col-xs-10 col-xs-offset-1 text-left">
        			<h5 class="ayuda-text">Escríbenos a <b>contacto@soporteebay.com</b> donde con gusto resolveremos todas tus dudas.</h5>
        		</div>
        	</div>
        	
          <br><br><br><br>
        </div>
        <div class="modal2-footer popup-content-bg">
          <img src="/images/logo_ebay.png" class="logo-footer">
        </div>
      </div>
      
    </div>
  </div>
<br>