<div class="container">
<nav class="navbar navbar-default navbar-fixed-top">
	<div class='container'>
		<div class='navbar-header'>
			<a href='/' class='navbar-brand'>
				<img src='/images/logo_ebay.png' class='logo-header'></img>
			</a>
			<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
				<span class='sr-only'>Toggle navigation</span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
			</button>
		</div>
		<ul class='nav navbar-nav navbar-right collapse navbar-collapse bg-green'>
			<li class="text-section"><a href='#seccion1' class="bg-white">Beneficios</a></button></li>
			<li class="text-section"><a href='#seccion2' class="bg-white">Cómo crecer tu negocio</a></li>
			<li class="text-section"><a href='#seccion4' class="bg-white">Regístrate</a></li>
		</ul>
	</div>
</nav>
</div>
