<ebay-header></ebay-header>
<div role="main" ng-init="init()">
   <script type="text/javascript" src="https://pixel.mathtag.com/event/js?mt_id=1227677&mt_adid=195682&mt_exem=&mt_excl=&v1=&v2=&v3=&s1=&s2=&s3="></script>
  <section id="top">
  	<div class="flex-banner-container">
  		<div class="flex-best-image1">
  			
  		</div>
  		<div class="flex-best-blue-square">
  			  <h1 class="text-white text-left subtitle-landing font-bold">
      			Prácticas recomendadas para vendedores
      		</h1>
      		<br>
      		<p class="text-white text-left text-optimal-banner">
      			Ofrecer un buen servicio es clave para tu éxito
      		</p>
  		</div>
  	</div>
  </section>
  <br><br><br><br><br class="hidden-xs"><br class="hidden-xs"><br class="hidden-xs">
  <div class="row">
  	<div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 text-left text-gray90 message-text">
  		<p>
  			Sé un vendedor confiable en eBay: asegúrate de comunicarte claramente con tus compradores, 
  			proporciona descripciones detalladas de tus artículos y realiza tus envíos sin demoras.		
  	    </p>
  			
  	</div>
  </div>
  <br><br><br><br><br class="hidden-xs"><br class="hidden-xs"><br class="hidden-xs">
  
	<section>
	  
	  <div class="flex-banner-container">
	    
	    <div class="flex-best-image2">
				        <br><br><br><br><br>
								<b><h1 class="text-lightBlue title-message text-right">
								Cinco ideas para<br> mejorar tus ventas </h1></b>	
								
				
			</div>
	    
	  </div>
	  
	 
	</section>
	
	<section class="">
  	<div class="flex-banner-container">
  		
  		<div class="flex-best-blue-square2">
  			<div class="row">
  				<div class="col-sm-1 col-sm-offset-1">
  					<h1 class="text-white text-big font-bold text-left">
  							1	
  					</h1>
  				</div>
  				<div class="col-sm-6">
	  				<h1 class="text-white title-landing font-bold">
	  					Establece  fechas claras de envío
		  			</h1>
		  			<br>
		  			<p class="text-white text-landing">
		  				Tus compradores quieren saber cuándo recibirán sus compras.
		  			</p>
		  			<br>
		  			<p class="text-white text-landing">
		  			  Establece un plazo de envío que puedas cumplir y ofrece 
		  			  información de seguimiento del paquete.
		  			</p>
		  			
  				</div>
  			</div>
  		</div>
  		
  		<div class="flex-best-image3">
  			
  		</div>
  			
  			
  		
  	</div>
  </section>
  
  <section>
	  <!--<div class="flex-banner-container">-->
	    <div class="flex-best-image4">
	    	<div class="flex-box-n">
	    		<h1 class="text-purple-message text-big font-bold text-center font-bold">
							2	
					</h1>
	    	</div>
	    	<div class="flex-box">
	    		<h1 class="text-purple-message title-landing text-left font-bold">
							  					Describe tu artículo con precisión
								  			</h1>
								  			<br>
								  			<p class="text-purple-message text-landing">
								  				Detalla si tu artículo es nuevo o usado y no olvides mencionar defectos como rasguños o rayaduras. 
								  			</p>
								  			<br>
								  			<p class="text-purple-message text-landing">
								  			  Incluye múltiples fotos desde diferentes ángulos.
								  			</p>
	    	</div>
	    	
	    
			</div>
	    
	  <!--</div>-->
	  
	 
	</section>
 
  <section class="">
  	<div class="flex-banner-container">
  		
  		<div class="flex-banner-purple-square">
  			
  			<div class="row">
  				
  					<div class="col-sm-1 col-sm-offset-1">
						  					<h1 class="text-white text-big font-bold text-left">
						  							3
						  					</h1>
						  </div>
  				<div class="col-sm-7 col-sm-offset-0">
	  				<h1 class="text-white title-landing font-bold">
	  				 Ofrece devoluciones
		  			</h1>
		  			<br>
		  			<p class="text-white text-landing">
		  				Los compradores tienen más confianza si saben que pueden devolver un artículo si necesitan hacerlo. 
		  			</p>
		  			<br>
		  			<p class="text-white text-landing">
		  			  Si es posible, ofrece además un reemplazo o un reembolso.
		  			</p>
		  			
  				</div>
  			</div>
  		</div>
  		
  		<div class="flex-best-image5">
  			
  		</div>
  			
  			
  		
  	</div>
  </section>
 
 <section>
	  <!--<div class="flex-banner-container">-->
	    <div class="flex-best-image6">
	              <div class="flex-box-n">
	              	<b><h1 class="text-blue text-big text-left text-center">
    								4 
    								</h1></b>
	              </div>
	              <div class="flex-box">
	              		<b><h1 class="text-blue title-landing text-left">
	              			Haz fácil el pago
	              	</h1></b>
	              	<br>
    								<p class="text-blue text-landing">
    								  Puedes ofrecer PayPal como un método de pago seguro. 
    								</p>
                    <br>
                    <p class="text-blue text-landing">
                      Además puedes suscribirte al Asistente por Artículos No Pagados que administra 
                      este tipo de casos del lado de eBay.
                    </p>
	              </div>
	              
	                  	
    								
    								
	               
								
				
			</div>
	    
	  <!--</div>-->
	  
	 
	</section>
	
	<section class="">
  	<div class="flex-banner-container">
  		
  		<div class="flex-banner-light-blue-square2">
  			
  			<div class="row">
  				<div class="col-sm-1 col-sm-offset-1">
  					<h1 class="text-blue text-big text-left font-bold">
  					5</h1>
  				</div>
  				<div class="col-sm-7 col-sm-offset-0">
	  				<h1 class="text-blue title-landing font-bold">
	  				   Usa el Centro de Resoluciones
		  			</h1>
		  			<br>
		  			<p class="text-blue text-landing">
		  				Los compradores tienen preguntas antes, durante y después de una compra.<br><br>
		  				 Responde a sus preguntas con rapidez y si el comprador abre un caso en el 
		  				 Centro de Resoluciones, responde en un plazo no mayor de 3 días.
		  			</p>
		  		
  				</div>
  			</div>
  		</div>
  		
  		<div class="flex-best-image7">
  			
  		</div>
  			
  			
  		
  	</div>
  </section>
  
  <section>
	  <div class="flex-banner-container">
	    <div class="flex-best-image8">
	              <br><br><br>
	              
	                  <b><h2 class="text-purple-message title-message text-left text-bold">
    								¿Tienes preguntas?
    								</h2></b>	
    								<br>
    								<p class="text-purple-message message-text">
    								  ¡Tenemos respuestas! Escríbenos a contacto@soporteebay.com y con gusto resolveremos tus dudas.
    								</p>
                    <br>
                    
    								
	               
								
				
			</div>
	    
	  </div>
	  
	 
	</section>
   
   
</div>

<ebay-footer></ebay-footer>