<ebay-header></ebay-header>
<div role="main" ng-init="init()">
  <script language='JavaScript1.1' async src='//pixel.mathtag.com/event/js?mt_id=1227679&mt_adid=195682&mt_exem=&mt_excl=&v1=&v2=&v3=&s1=&s2=&s3='></script>
  <section class="" id="top">
  	
  	<div class="flex-banner-container">
  		<div class="flex-seller-image1">
  			
  		</div>
  		<div class="flex-seller-blue-square">
  			<h1 class="text-white text-left subtitle-landing font-bold">
      			Centro de Ventas de eBay
      		</h1>
      		<br>
      		<p class="text-white text-left text-optimal-banner">
      			El lugar para administrar tu negocio gratis y con comodidad
      		</p>
      		<br><br><br>
      		<b>
		  		<a class="text-white text-landing text-link" href="http://www.ebay.com/sh/landing" target="_blank">Comienza a usarlo &#8594;</a>
		  	</b>
  		</div>
  	</div>
  	
  </section>
  
  <section class="">
  	<div class="flex-banner-container">
  		<div class="flex-seller-image2">
  			
  				<p class="text-blue message-text">
					Ideal para vendedores profesionales. El Centro de Ventas pone todos tus anuncios y
					herramientas de marketing en un solo lugar, analiza tu desempeño de ventas y te da control 
					sobre todas tus actividades. 				
				 </p>
				
								
  		</div>
  	</div>
  </section>
  
  <section class="">
  	<div class="flex-banner-container">
  		<div class="flex-seller-image3">
  			<b><h2 class="text-blue subtitle-landing text-left">
			Ventajas del centro de ventas </h2></b>	
								
  		</div>
  		<div class="flex-banner-purple-square3">
  			<h2 class="text-white text-left subtitle-landing font-bold">
      			Todo en un <br>solo lugar
      		</h2>
      		<br>
      		<p class="text-white text-left text-optimal-banner">
      			Analiza tus ventas en periodos específicos, administra tareas pendientes y usa 
      			las herramientas para publicaciones más eficientes.
      		</p>
      		<br><br>
      		<b>
		  		<a class="text-white text-optimal-banner text-link" href="https://www.youtube.com/watch?v=-Hpq7QuEAAw&feature=youtu.be" target="_blank">Mira el video &#8594;</a>
		  	</b>
  			
  		</div>
  	</div>
  </section>
  
  <section class="">
  	<div class="flex-banner-container">
  		<div class="flex-banner-white-square">
  			<h2 class="text-blue text-left subtitle-landing font-bold">
      			Optimiza tu desempeño
      		</h2>
      		<br>
      		<p class="text-blue text-left text-optimal-banner">
      			Tus tareas están resumidas para que las puedas ver fácilmente y responder a las necesidades de tus compradores.
      		</p>
      		<p class="text-blue text-left text-optimal-banner">
      			Accede directamente a tu panel de control con informes detallados para monitorear tu desempeño como vendedor.
      		</p>
  		</div>
  		<div class="flex-seller-image4">
  			<h2 class="text-purple-message text-left subtitle-landing font-bold">
      			 Mantente adelante
      		</h2>
      		<br>
      		<p class="text-purple-message text-left text-optimal-banner">
      			El Centro de Ventas incorpora la funcionalidad de todas las herramientas de publicación, 
      			como Administrador de Ventas o el Administrador de Ventas Pro, para hacer tus publicaciones más eficientes.
      		</p>
      		
  		</div>
  	</div>
  </section>
  
  <section class="">
  	<div class="flex-banner-container">
  		<div class="flex-seller-image5">
  			<h2 class="text-purple-message text-left subtitle-landing text-bold">
      			 ¿Tienes preguntas?
      		</h2>
      		<br>
      		<p class="text-purple-message text-left text-optimal-banner">
      			¡Tenemos respuestas! Escríbenos a contacto@soporteebay.com y con 
      			gusto resolveremos tus dudas.
      		</p>
  		</div>
  	</div>
  </section>
  
  
	
</div>

<ebay-footer></ebay-footer>