<ebay-guide-header></ebay-guide-header>
    <div role="main" ng-init="inicio.init()">
        <section id="banner">
            <br><br>
  		    <img src="images/BannerwText_step2.png">
        </section>
        
        <br><br><br><br><br><br>
        <section class="guia-seccion3bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 col-md-offset-0 col-xs-offset-1">
                        <img class="img-bullet" src="/images/bullet-1.png">
                    </div>
                    <div class="col-md-4 col-md-offset-0 col-xs-offset-1">
                            <h3 class="title-gray">Selecciona una categoría</h3>
                        </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
                        <p class="text-guide">eBay elige automáticamente la categoría del artículo que quieres vender.
                        Ingresa los números del código de barras, el ISBN o el VIN o escribe un título que nos
                        ayude a encontrar la categoría. Luego, haz clic en <font color="#00489f">"Get Started"</font>.</p>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1"><img class="img-categoria" src="/images/categoria.png"></div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
                        <p class="text-guide">Si la categoría no concuerda, búscala en <font color="#00489f">"Browse categories"</font>.
                        Tus compradores tienen más posibilidades de encontrar tu artículo si lo anuncias en la categoría correcta.</p>
                        <p class="text-guide">Al terminar haz clic en <font color="#00489f">"Continue"</font>.</p>
                    </div>
                </div>
            </div>
        </section>
        
        <br><br><br><br>
        <section class="guia-seccion4bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 col-md-offset-0 col-xs-offset-1">
                        <img class="img-bullet" src="/images/bullet-2.png">
                    </div>
                    <div class="col-md-4 col-md-offset-0 col-xs-offset-1">
                        <h3 class="title-gray">Crea tu anuncio</h3>
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
                        <p class="text-guide">La opción <font color="#00489f">Keep it simple</font> es la más sencilla para poner en venta tu artículo.</p>
                    </div>
                </div>
                <br><br>
                <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1"><img class="img-keepSimple" src="/images/keep-it-simple.png"></div>
            </div>
        </section>
        
        <br><br><br><br>
        <section class="guia-seccion4bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 col-md-offset-0 col-xs-offset-1">
                        <img class="img-bullet" src="/images/bullet-2.1.png">
                    </div>
                    <div class="col-md-4 col-md-offset-0 col-xs-offset-1">
                        <h3 class="title-gray">Crea un título descriptivo</h3>
                        </div>
                </div>
                
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
                        <p class="text-guide">Asegúrate de que el título describa de manera clara tu artículo.
                        Puedes escribir hasta 80 caracteres.</p>
                    </div>
                </div>
                <br><br>
                <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1"><img class="img-title" src="/images/title.png"></div>
            </div>
        </section>
        
        <br><br><br><br>
        <section class="guia-seccion4bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 col-md-offset-0 col-xs-offset-1">
                        <img class="img-bullet" src="/images/bullet-2.2.png">
                    </div>
                    <div class="col-md-4 col-md-offset-0 col-xs-offset-1">
                        <h3 class="title-gray">Incluye fotos</h3>
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
                        <p class="text-guide">Elige cuatro fotos de buena calidad, que muestren tu artículo desde varios ángulos.
                        Los formatos aceptados son JPEG (.jpg), Gif(.gif) y PNG(.png).</p>
                        <p>Para agregar una foto, selecciona <font color="#00489f">"Add a photo"</font>.</p>
                    </div>
                </div>
                <br><br>
                <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1"><img class="img-fotos" src="/images/fotos.png"></div>
            </div>
        </section>
        
        <br><br><br><br>
        <section class="guia-seccion4bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 col-md-offset-0 col-xs-offset-1">
                        <img class="img-bullet" src="/images/bullet-2.3.png">
                    </div>
                    <div class="col-md-4 col-md-offset-0 col-xs-offset-1">
                        <h3 class="title-gray">Describe tu artículo</h3>
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
                        <p class="text-guide">Incluye información importante como la condición de tu artículo, si es nuevo o usado,
                        la marca, país donde fue fabricado, etc.</p>
                        <p class="text-guide">*Nota: Los campos a llenar dependen de la categoría de tu artículo.</p>
                        <p class="text-guide">También proporciona color, tamaño y todo lo que ayude a describirlo mejor. 
                        Incluso puedes contar alguna anécdota sobre tu artículo.</p>
                    </div>
                </div>
                <br><br>
                <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1"><img class="img-descripcion" src="/images/descripcion.png"></div>
            </div>
        </section>
        
        <br><br><br><br>
        <section class="guia-seccion4bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 col-md-offset-0 col-xs-offset-1">
                        <img class="img-bullet" src="/images/bullet-2.4.png">
                    </div>
                    <div class="col-md-5 col-md-offset-0 col-xs-offset-1">
                        <h3 class="title-gray">Elige el precio y método de envío</h3>
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
                        <p class="text-guide">Ponle un precio inicial a tu artículo en <font color="#00489f">
                        "Start auction bidding at"</font>.
                        Este precio es lo mínimo que deseas aceptar. Trata de que sea competitivo y atractivo
                        para tus compradores.</p>
                        <p class="text-guide">Selecciona los días que va a durar la subasta en <font color="#00489f">
                        "lasting for"</font>.</p>
                    </div>
                </div>
            </div>
        </section>
        
        <br><br><br><br>
        <section class="guia-seccion4bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 col-md-offset-0 col-xs-offset-1">
                        <img class="img-bullet" src="/images/bullet-A.png">
                    </div>
                    <div class="col-md-4 col-md-offset-0 col-xs-offset-1">
                        <h3 class="title-gray">Opción ¡Cómpralo ahora!</h3>
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
                        <p class="text-guide">Puedes agregar la opción !Cómpralo ahora! o <font color="#00489f">"Buy it now"</font> para darle un 
                        precio fijo a tu artículo.</p>
                    </div>
                </div>
            </div>
        </section>
        
        <br><br><br><br>
        <section class="guia-seccion4bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 col-md-offset-0 col-xs-offset-1">
                        <img class="img-bullet" src="/images/bullet-B.png">
                    </div>
                    <div class="col-md-4 col-md-offset-0 col-xs-offset-1">
                        <h3 class="title-gray">Elige a dónde quieres vender</h3>
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
                        <p class="text-guide">La opción predeterminada de venta es Estados Unidos.
                        Para vender en el resto del mundo, haz clic en <font color="#00489f">"Add another shipping destnations
                        or services"</font> y selecciona <font color="#00489f">Worldwide</font>.</p>
                    </div>
                </div>
            </div>
        </section>
        
         <br><br><br><br>
        <section class="guia-seccion4bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 col-md-offset-0 col-xs-offset-1">
                        <img class="img-bullet" src="/images/bullet-C.png">
                    </div>
                    <div class="col-md-4 col-md-offset-0 col-xs-offset-1">
                        <h3 class="title-gray">Método de envío</h3>
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
                        <p class="text-guide">Decide el método que usarás para enviar tu artículo al comprador,
                        así como los costos de envío.</p>
                        <p class="text-guide">En México existen diferentes paqueterías que brindan este servicio como
                        UPS, DHL, Fedex, entre otras. Si ya conoces sus servicios y costos, elige la que más te convenga
                        dentro de la lista.</p>
                        <p class="text-guide">Si ofreces envío gratis, deja el costo de envío en $0 en la columna Shipping
                        cost to buyer. De esta manera, los costos de envío corren por tu cuenta.</p>
                    </div>
                </div>
                <br><br>
                <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1"><img class="img-shipping" src="/images/shipping.png"></div>
            </div>
        </section>
        
        <br><br><br><br>
        <section class="guia-seccion4bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 col-md-offset-0 col-xs-offset-1">
                        <img class="img-bullet" src="/images/bullet-2.5.png">
                    </div>
                    <div class="col-md-4 col-md-offset-0 col-xs-offset-1">
                        <h3 class="title-gray">Ingresa tu cuenta de PayPal</h3>
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
                        <p class="text-guide">Para recibir pagos, necesitas una cuenta de PayPal (para obtener
                        una haz clic <a href="#">aquí</a>).</p>
                        <p class="text-guide">Recibir pagos en tu cuenta de PayPal es seguro, rápido y sencillo.
                        Para vincular tu cuenta de PayPal, ingrésala en este paso.</p>
                    </div>
                </div>
                <br><br>
                <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1"><img class="img-Paypal" src="/images/PayPal.png"></div>
            </div>
        </section>
        
        <br><br><br><br>
        <section class="guia-seccion4bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 col-md-offset-0 col-xs-offset-1">
                        <img class="img-bullet" src="/images/bullet-3.png">
                    </div>
                    <div class="col-md-6 col-md-offset-0 col-xs-offset-1">
                        <h3 class="title-gray">Revisa tu anuncio y publícalo</h3>
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
                        <p class="text-guide">Antes de que tu anuncio se publique, revisa que toda la información
                        sea correcta. Si todo está bien, selecciona <font color="#00489f">"List your item"
                        </font>.</p>
                        <p class="text-guide">Puedes editar tu anuncio con <font color="#00489f">"edit listing"
                        </font>.</p>
                    </div>
                </div>
                <br><br>
                <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1"><img class="img-review" src="/images/Review.png"></div>
            </div>
        </section>
        
        <br><br><br><br>
        <section class="guia-seccion4bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 col-md-offset-0 col-xs-offset-1">
                        <img class="img-bullet" src="/images/bullet-4.png">
                    </div>
                    <div class="col-md-6 col-md-offset-0 col-xs-offset-1">
                        <h3 class="title-gray">Confirma tu información de contacto</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
                        <p class="text-guide">En este paso, recibirás un PIN de confirmación al número telefónico que proporcionaste al registrarte,
                        ya sea por una llamada <font color="#00489f">"Call me now"</font> o un 
                        mensaje de texto <font color="#00489f">"Text me now"</font>. Luego, ingresa tu PIN y continúa.</p>
                        <p class="text-guide">eBay confirmará la publicación de tu anuncio con un correo electrónico.</p>
                    </div>
                </div>
            </div>
        </section>
        
        <br><br><br><br><br><br>    
        <section>
            <div class="container-fluid">
                <div class="col-md-2 col-md-offset-5">
                    <button type="button" class="btn btn-blue btn-large btn-block" onclick="location.href='/guia_paso3';">Ir al paso 3</button>
                    <br>
                    <button type="button" class="btn btn-white btn-large btn-block" onclick="location.href='guia_paso2/#top';">Volver arriba</button>
                </div>
            </div>
        </section>
    </div>

<ebay-footer></ebay-footer>