<ebay-guide-header></ebay-guide-header>
    <div role="main" ng-init="inicio.init()">
        <!--<section class="guia-seccion1-s3bg">
            <div class="container-fluid" id='top'>
                <br><br><br><br><br><br><br>
                 <div class="row">
                    <div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12 col-xs-offset-0">
               
                        <h1 class="text-left text-white">Paso 3: Sigue tu anuncio</h1>
                        <h3 class="text-left text-white">Mantén abierta la comunicación con tus compradores.</h3>
                     </div>
                </div>
             <br><br><br><br><br><br><br>
            </div>
        </section>
        -->
         <section id="banner">
            <br><br>
  		    <img src="images/BannerwText_step3.png">
        </section>
        <br><br><br><br><br><br>
        
        <section class="guia-seccion3bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 col-md-offset-0 col-xs-offset-1">
                        <img class="img-bullet" src="/images/bullet-1.png">
                    </div>
                    <div class="col-md-4 col-md-offset-0 col-xs-offset-1">
                        <h3 class="title-gray">Usa mi eBay</h3>
                        </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
                        <p class="text-guide">Aquí puedes dar seguimiento a la actividad relacionada con tu anuncio.
                        También encontrarás información sobre tus compras, otras ventas, mensajes y más.</p>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1"><img class="img-miEbay" src="/images/mi-eBay.png" width="575" height="431"></div>
                </div>
                
            </div>
        </section>
        
        <br><br><br><br>
        <section class="guia-seccion4bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 col-md-offset-0 col-xs-offset-1">
                        <img class="img-bullet" src="/images/bullet-2.png">
                    </div>
                    <div class="col-md-6 col-md-offset-0 col-xs-offset-1">
                        <h3 class="title-gray">Monitorea tus mensajes y notificaciones</h3>
                        </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
                        <p class="text-guide">Tus compradores pueden mandarte mensajes, hacer preguntas, ofertar por tus artículos en una subasta
                        o bien comprarlos con la opción !Cómpralo ahora! Revisa Mi eBay frecuentemente para mantener una buena comunicación
                        con tus clientes.</p>
                    </div>
                </div>
            </div>
        </section>
        
        <br><br><br><br><br><br>    
        <section>
            <div class="container-fluid">
                <div class="col-md-2 col-md-offset-5">
                    <button type="button" class="btn btn-blue btn-large btn-block" onclick="location.href='/guia_paso4';">Ir al paso 4</button>
                    <br>
                    <button class="btn btn-white btn-large btn-block" onclick="location.href='guia_paso3/#top';">Volver arriba</button>
                </div>
            </div>
        </section>
    </div>

<ebay-footer></ebay-footer>