<ebay-guide-header></ebay-guide-header>
    <div role="main" ng-init="inicio.init()">
        <!--<section class="guia-seccion1bg" id='top'>
            <div class="container-fluid">
                <br><br><br><br><br><br><br>
                 <div class="row">
                    <div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12 col-xs-offset-0">
               
                        <h1 class="text-left text-white">Paso 1: Regístrate</h1>
                        <h3 class="text-left text-white">Para comenzar a vender en eBay sólo necesitas registrarte.</h3>
                    </div>
                </div>
                <br><br><br><br><br><br><br>
            </div>
        </section>-->
        <section id="banner">
            <br><br>
  		    <img src="images/BannerwText_step1.png">
        </section>
        
        <br><br><br><br>
        <section class="guia-seccion2bg">
            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                        <center><h3 class="title-gray">Escribe tus datos y haz clic en <font color="#00489f">"Regístrate".</font></h3>
                        <br>
                        <p class="text-guide">Nota: "Regístrate para abrir una cuenta comercial" es la opción para negocios con registro fiscal.</p>
                    </div>
                    
                </div>
                <br><br>
                <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
                    <center><img class="img-registro" src="/images/Registro.png"></center>
                </div>
            </div>
           
        </section>
        
        <br><br><br><br>
        <section class="guia-seccion3bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 col-md-offset-0 col-xs-offset-1">
                        <img class="img-bullet" src="/images/bullet-1.png">
                    </div>
                    <div class="col-md-4 col-md-offset-0 col-xs-offset-1">
                        <h3 class="title-gray">Elige tu nombre de usuario</h3>
                        </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
                           
                        <p class="text-guide">Puedes usar el nombre que eBay te proporciona o crear uno nuevo haciendo clic en <font color="#00489f">"Crea tu nombre de usuario"</font>. Si te gusta 
                        el que te dio eBay, selecciona <font color="#00489f">"Continuar"</font> e ingresa tu dirección a continuación.</p>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1"><img class="img-username" src="/images/username.png"></div>
                </div>
                
            </div>
        </section>
        
        <br><br><br><br>
        <section class="guia-seccion4bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 col-md-offset-0 col-xs-offset-1">
                        <img class="img-bullet" src="/images/bullet-2.png">
                    </div>
                    <div class="col-md-4 col-md-offset-0 col-xs-offset-1">
                        <h3 class="title-gray">Comienza a poner en venta</h3>
                        </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
                        <p class="text-guide">Selecciona la opción <font color="#00489f">"Sell it yourself"</font>, que te da control sobre la venta y publicación de tus artículos
                        y te permite mantener contacto con tus compradores. Esta es la opción que seguimos en esta guía.</p>
                    </div>
                </div>
                <br><br>
                <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1"><img class="img-sell" src="/images/sell-it-myself.png"></div>
            </div>
        </section>
        
        <br><br><br><br><br><br>    
       <section>
            <div class="container-fluid">
                <div class="col-md-2 col-md-offset-5">
                    <button type="button" class="btn btn-blue btn-large btn-block text-center" onclick="location.href='/guia_paso2';">Ir al paso 2</button>
                    <br>
                    <button type="button" class="btn btn-white btn-large btn-block" onclick="location.href='guia_paso1/#top';">Volver arriba</button>
                </div>
            </div>
        </section>
    </div>
    
<ebay-footer></ebay-footer>