<ebay-guide-header></ebay-guide-header>
    <div role="main" ng-init="init()">
        <!--<section class="guia-seccion1-s4bg" id='top'>
            <div class="container-fluid">
                <br><br><br><br><br><br><br><br>
                 <div class="row">
                    <div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12 col-xs-offset-0">
                       
                        <h1 class="text-left text-white">Paso 4: Envía tu artículo</h1>
                        <h3 class="text-left text-white">Asegúrate de que llegue a tiempo y sin daños.</h3>
                    </div>
                </div>
                <br><br><br><br><br><br><br><br>
            </div>
        </section>-->
         <section id="banner">
            <br><br>
  		    <img src="images/BannerwText_step4.png">
        </section>
        
        <br><br><br><br><br><br>
        
        <section class="guia-seccion3bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 col-md-offset-0 col-xs-offset-1">
                        <img class="img-bullet" src="/images/bullet-1.png">
                    </div>
                    <div class="col-md-4 col-md-offset-0 col-xs-offset-1">
                        <h3 class="title-gray">Prepara el envío</h3>
                        </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
                        <p class="text-guide">Una vez que tu artículo se venda y recibas la confirmación del pago, prepáralo
                        para su envío.</p>
                        <p class="text-guide">Asegúrate de que esté bien empaquetado para evitar que llegue dañado a tu comprador.
                        Si tu artículo es de alto valor, contrata un seguro contra daños o robo.</p>
                        <p class="text-guide">Si tienes dudas, ponte en contacto con tu servicio de envío y asesórate sobre la mejor
                        forma de empacar y asegurar tu artículo.</p>
                    </div>
                </div>
            </div>
        </section>
        <br><br><br><br>
        <section class="guia-seccion4bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 col-md-offset-0 col-xs-offset-1">
                        <img class="img-bullet" src="/images/bullet-2.png">
                    </div>
                    <div class="col-md-4 col-md-offset-0 col-xs-offset-1">
                        <h3 class="title-gray">Recibe el pago</h3>
                        </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
                        <p class="text-guide">Una vez que el artículo llegue a manos de tu comprador, el pago se verá
                        reflejado en tu estado de cuenta de PayPal.</p>
                    </div>
                </div>
            </div>
        </section>
        
        
        <br><br><br><br>
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 col-md-offset-0 col-xs-offset-1">
                        <img class="img-bullet" src="/images/bullet-3.png">
                    </div>
                    <div class="col-md-4 col-md-offset-0 col-xs-offset-1">
                        <h3 class="title-gray">Deja comentarios</h3>
                        </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
                        <p>Deja un comentario acerca de tu experiencia con tu comprador.
                        Esto te ayudará a crear un historial de tu desempeño como vendedor en eBay.</p>
                    </div>
                </div>
            </div>
        </section>
        
        
        
        <br><br><br><br><br><br>   
        <section>
            <div class="container-fluid">
                 <center><p>Si tienes dudas contáctanos <a href="/enviar">aquí.</a>
						<a class="btn btn-white2 btn-lg" rel="popover" data-img="/images/Guide_Box.png" data-placement="right">
						 <!-- <button type="button" class="btn btn-white2 btn-lg" id="info" >-->
                         <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> 
                         <!--</button>-->
                       </a>
				    </p></center>
                <div class="col-md-2 col-md-offset-5">
                    <button type="button" class="btn btn-blue btn-large btn-block" onclick="location.href='/guia_paso1';">Regresar al paso 1</button>
                    <br>
                    <button class="btn btn-white btn-large btn-block" onclick="location.href='guia_paso4/#top';">Volver arriba</button>
                </div>
            </div>
        </section>
    </div>

<ebay-footer></ebay-footer>