<ebay-header></ebay-header>

<div role="main" ng-init="inicio.init()">
  <script language='JavaScript1.1' async src='//pixel.mathtag.com/event/js?mt_id=1227669&mt_adid=195682&mt_exem=&mt_excl=&v1=&v2=&v3=&s1=&s2=&s3='></script>
  <!--<div id="loading">
    <img id="loading-image" src="images/loading.gif" alt="Loading..." /> 
  </div>-->
<section class=''>

  <div class="flex-banner-container">
    <div class="flex-banner-square">
      
      <!--Mobile-->
      <div class="visible-xs col-xs-11 col-xs-offset-0 text-left">
              
              <h1 class="text-white text-left title-landing">Gana dinero vendiendo 
                 a compradores internacionales</h1>
    					<br><br><br>
              <button class="btn btn-white-bordered btn-responsive" ng-click="setFocusToTextBox()">
                Regístrate &#8594;
      					</button>
    	</div>
    	<!--End of mobile, init of Desktop-->
      
       <div class="col-sm-9 col-sm-offset-1 hidden-xs text-left">
             
              <h1 class="text-white text-left title-landing">Gana dinero vendiendo 
                 <br>a compradores internacionales</h1>
    					<br><br><br>
    					<br><br>
              <button class="btn btn-white-bordered btn-responsive" ng-click="setFocusToTextBox()">
                <span>Regístrate</span>
      					  
      					</button>
    				</div>
    </div>
    <!--<div class="flex-banner-image" data-src="/images/landing_banner1.png">-->
      <div class="flex-banner-image">
      
    </div>
  </div>
  
</section>

<section class='' id='beneficios'>
		<div class='container-fluid text-center text-gray90'>
			<br><br><br>
			
			  <div class="row">
			    <div class="col-sm-8 col-sm-offset-2 col-xs-offset-1 col-xs-10">
			      <h4 class="text-left text-landing">Descubre una manera fácil y confiable de ofrecer tus artículos a más 
			      compradores en el mundo y comienza ahora a hacer crecer tu negocio</h4>
			    </div>
			  </div>
			
			<br><br><br>
  		
		</div>
</section>	

<section class='inicio-seccion4-bg' id='registro'>
		<div class="container-fluid">
			<!--<form role="form" name="inicioForm" ng-submit="inicioForm.$valid" novalidate>-->
				<form ng-submit="sendData()" name="form">
				<div class="container-fluid text-gray90">
					
					<br>
					<br>
					<center>
					  <h3 class="text-center text-30 text-navy-blue subtitle-landing">¿Tienes cuenta en eBay?</h3>   
					</center>
				
					<br><br>
					
					<ul class="flex-radio-container">
            <li class="flex-radio-item">
              <label class="text-right text-navy-blue">
                 Sí
                 
              </label><br>
               <label class="text-right text-navy-blue">
                  <input type="radio" name="options" id="radio1" value="1" ng-change='cambiarColorSi()' ng-model="radio1">
                  <div></div>
              </label>
            </li>
            <li class="flex-radio-item">
              <label class="text-navy-blue">
                 No
              </label><br>
               <label class="text-right text-navy-blue">
                  <input type="radio" name="options" id="radio2" value="2" ng-change='cambiarColorNo()' ng-model="radio2" checked />
                 <div></div>
              </label>
            </li>
            
          </ul>
          
				
					<br ng-if="!venta_internet"><br>
					
					<!-- no form-->
					
					<ul class="flex-container" ng-if='!venta_internet'>
            <li class="flex-item2 text-navy-blue text-big3">1</li>
            <li class="flex-item text-gray90 text-form1">Déjanos tu correo para que podamos ayudarte</li>
            <li class="flex-item2 text-navy-blue text-big3">2</li>
            <li class="flex-item text-gray90 text-form1">Crea tu cuenta en ebay.com</li>
            <li class="flex-item2 text-navy-blue text-big3">3</li>
            <li class="flex-item text-gray90 text-form1">Comienza a anunciar tus artículos</li>
            
          </ul>
					
					<div class="row text-section">
						<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 form-group" ng-if='venta_internet'>
							<p class="text-landing">¿Cómo podemos ayudarte?*</p>
							<select id="ayuda" class="form-control" ng-model="$parent.option" required/>
								<option value="" selected disabled>¿Cómo podemos ayudarte?</option>
								<option value="Incrementar ventas">Incrementar ventas</option>
								<option value="Vender en más países">Vender en más países</option>
								<!--<option value="Financiamiento para mi negocio">Financiamiento para mi negocio</option>-->
								<option value="Actualizar plan">Actualizar plan</option>
								<option value="Logística">Logística</option>
								<option value="Otro">Otro</option>
							</select>
							<input type="text" ng-show="$parent.option==5" class="form-control" placeholder="Especifica en qué">
						</div>
					</div>
					
					<div class="row text-section">
						<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 form-group" ng-if='venta_internet'>
							<p class="text-landing">Nombre de usuario de eBay*</p>
							<input type="text" name="" class='form-control text-box' ng-model='$parent.username' placeholder='Ej. ExploradorDelMundo' required/>
						</div>
					</div>
					
					<div class="row text-section">
						<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 form-group">
							<p class="text-landing">Correo electrónico*</p>
							<input type="email" id="email" name="" class='form-control text-box' ng-model='email' placeholder='Ej: juan@correo.com' required/>
						</div>
					</div>
					
					<div class="row text-section">
						<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 form-group" ng-if='venta_internet'>
							<p class="text-landing">Teléfono de contacto*  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="checkbox" name="telefono" value="fijo" ng-model='$parent.fijo.isChecked' ng-change="checkFijo(fijo)"> Fijo&nbsp;&nbsp;&nbsp;
  						<input type="checkbox" name="telefono2" value="movil" ng-model='$parent.movil.isChecked' ng-change="checkMovil(movil)"> Móvil</p>
							<div class="col-sm-4 col-xs-12">
										<select id="p" name="p" class="form-control" ng-init="$parent.pais = 'MX'" ng-model='$parent.pais' required/>
											<option value="" disabled>País</option>
											<option value="AF">Afganistán</option> 
											<option value="AL">Albania</option> 
                      <option value="DE">Alemania</option> 
                      <option value="AD">Andorra</option> 
                      <option value="AO">Angola</option> 
                      <option value="AI">Anguilla</option> 
                      <option value="AQ">Antártida</option> 
                      <option value="AG">Antigua y Barbuda</option> 
                      <option value="AN">Antillas Holandesas</option> 
                      <option value="SA">Arabia Saudí</option> 
                      <option value="DZ">Argelia</option> 
                      <option value="AR">Argentina</option> 
                      <option value="AM">Armenia</option> 
                      <option value="AW">Aruba</option> 
                      <option value="AU">Australia</option> 
                      <option value="AT">Austria</option>  
                      <option value="AZ">Azerbaiyán</option>  
                      <option value="BS">Bahamas</option>  
                      <option value="BH">Bahrein</option>  
                      <option value="BD">Bangladesh</option>  
                      <option value="BB">Barbados</option>  
                      <option value="BE">Bélgica</option>  
                      <option value="BZ">Belice</option>  
                      <option value="BJ">Benin</option>  
                      <option value="BM">Bermudas</option>  
                      <option value="BY">Bielorrusia</option>  
                      <option value="MM">Birmania</option>  
                      <option value="BO">Bolivia</option>  
                      <option value="BA">Bosnia y Herzegovina</option>  
                      <option value="BW">Botswana</option>  
                      <option value="BR">Brasil</option>  
                      <option value="BN">Brunei</option>  
                      <option value="BG">Bulgaria</option>  
                      <option value="BF">Burkina Faso</option>  
                      <option value="BI">Burundi</option>  
                      <option value="BT">Bután</option>  
                      <option value="CV">Cabo Verde</option>  
                      <option value="KH">Camboya</option>  
                      <option value="CM">Camerún</option>  
                      <option value="CA">Canadá</option>  
                      <option value="TD">Chad</option>  
                      <option value="CL">Chile</option>  
                      <option value="CN">China</option>  
                      <option value="CY">Chipre</option>  
                      <option value="VA">Ciudad del Vaticano (Santa Sede)</option>  
                      <option value="CO">Colombia</option>  
                      <option value="KM">Comores</option>  
                      <option value="CG">Congo</option>  
                      <option value="CD">Congo, República Democrática del</option>  
                      <option value="KR">Corea</option>  
                      <option value="KP">Corea del Norte</option>  
                      <option value="CI">Costa de Marfíl</option>  
                      <option value="CR">Costa Rica</option>  
                      <option value="HR">Croacia (Hrvatska)</option>  
                      <option value="CU">Cuba</option>  
                      <option value="DK">Dinamarca</option>  
                      <option value="DJ">Djibouti</option>  
                      <option value="DM">Dominica</option>  
                      <option value="EC">Ecuador</option>  
                      <option value="EG">Egipto</option>  
                      <option value="SV">El Salvador</option>  
                      <option value="AE">Emiratos Árabes Unidos</option>  
                      <option value="ER">Eritrea</option>  
                      <option value="SI">Eslovenia</option>  
                      <option value="ES">España</option>  
                      <option value="US">Estados Unidos</option>  
                      <option value="EE">Estonia</option>  
                      <option value="ET">Etiopía</option>  
                      <option value="FJ">Fiji</option>  
                      <option value="PH">Filipinas</option>  
                      <option value="FI">Finlandia</option>  
                      <option value="FR">Francia</option>  
                      <option value="GA">Gabón</option>  
                      <option value="GM">Gambia</option>  
                      <option value="GE">Georgia</option>  
                      <option value="GH">Ghana</option>  
                      <option value="GI">Gibraltar</option>  
                      <option value="GD">Granada</option>  
                      <option value="GR">Grecia</option>  
                      <option value="GL">Groenlandia</option>  
                      <option value="GP">Guadalupe</option>  
                      <option value="GU">Guam</option>  
                      <option value="GT">Guatemala</option>  
                      <option value="GY">Guayana</option>  
                      <option value="GF">Guayana Francesa</option>  
                      <option value="GN">Guinea</option>  
                      <option value="GQ">Guinea Ecuatorial</option>  
                      <option value="GW">Guinea-Bissau</option>  
                      <option value="HT">Haití</option>  
                      <option value="HN">Honduras</option>  
                      <option value="HU">Hungría</option>  
                      <option value="IN">India</option>  
                      <option value="ID">Indonesia</option>  
                      <option value="IQ">Irak</option>  
                      <option value="IR">Irán</option>  
                      <option value="IE">Irlanda</option>  
                      <option value="BV">Isla Bouvet</option>  
                      <option value="CX">Isla de Christmas</option>  
                      <option value="IS">Islandia</option>  
                      <option value="KY">Islas Caimán</option>  
                      <option value="CK">Islas Cook</option>  
                      <option value="CC">Islas de Cocos o Keeling</option>  
                      <option value="FO">Islas Faroe</option>  
                      <option value="HM">Islas Heard y McDonald</option>  
                      <option value="FK">Islas Malvinas</option>  
                      <option value="MP">Islas Marianas del Norte</option>  
                      <option value="MH">Islas Marshall</option>  
                      <option value="UM">Islas menores de Estados Unidos</option>  
                      <option value="PW">Islas Palau</option>  
                      <option value="SB">Islas Salomón</option>  
                      <option value="SJ">Islas Svalbard y Jan Mayen</option>  
                      <option value="TK">Islas Tokelau</option>  
                      <option value="TC">Islas Turks y Caicos</option>  
                      <option value="VI">Islas Vírgenes (EE.UU.)</option>  
                      <option value="VG">Islas Vírgenes (Reino Unido)</option>  
                      <option value="WF">Islas Wallis y Futuna</option>  
                      <option value="IL">Israel</option>  
                      <option value="IT">Italia</option>  
                      <option value="JM">Jamaica</option>  
                      <option value="JP">Japón</option>  
                      <option value="JO">Jordania</option>  
                      <option value="KZ">Kazajistán</option>  
                      <option value="KE">Kenia</option>  
                      <option value="KG">Kirguizistán</option>  
                      <option value="KI">Kiribati</option>  
                      <option value="KW">Kuwait</option>  
                      <option value="LA">Laos</option>  
                      <option value="LS">Lesotho</option>  
                      <option value="LV">Letonia</option>  
                      <option value="LB">Líbano</option>  
                      <option value="LR">Liberia</option>  
                      <option value="LY">Libia</option>  
                      <option value="LI">Liechtenstein</option>  
                      <option value="LT">Lituania</option>  
                      <option value="LU">Luxemburgo</option>  
                      <option value="MK">Macedonia, Ex-República Yugoslava de</option>  
                      <option value="MG">Madagascar</option>  
                      <option value="MY">Malasia</option>  
                      <option value="MW">Malawi</option>  
                      <option value="MV">Maldivas</option>  
                      <option value="ML">Malí</option>  
                      <option value="MT">Malta</option>  
                      <option value="MA">Marruecos</option>  
                      <option value="MQ">Martinica</option>  
                      <option value="MU">Mauricio</option>  
                      <option value="MR">Mauritania</option>  
                      <option value="YT">Mayotte</option>  
                      <option value="MX" selected="selected">México</option>  
                      <option value="FM">Micronesia</option>  
                      <option value="MD">Moldavia</option>  
                      <option value="MC">Mónaco</option>  
                      <option value="MN">Mongolia</option>  
                      <option value="MS">Montserrat</option>  
                      <option value="MZ">Mozambique</option>  
                      <option value="NA">Namibia</option>  
                      <option value="NR">Nauru</option>  
                      <option value="NP">Nepal</option>  
                      <option value="NI">Nicaragua</option>  
                      <option value="NE">Níger</option>  
                      <option value="NG">Nigeria</option>  
                      <option value="NU">Niue</option>  
                      <option value="NF">Norfolk</option>  
                      <option value="NO">Noruega</option>  
                      <option value="NC">Nueva Caledonia</option>  
                      <option value="NZ">Nueva Zelanda</option>  
                      <option value="OM">Omán</option>  
                      <option value="NL">Países Bajos</option>  
                      <option value="PA">Panamá</option>  
                      <option value="PG">Papúa Nueva Guinea</option>  
                      <option value="PK">Paquistán</option>  
                      <option value="PY">Paraguay</option>  
                      <option value="PE">Perú</option>  
                      <option value="PN">Pitcairn</option>  
                      <option value="PF">Polinesia Francesa</option>  
                      <option value="PL">Polonia</option>  
                      <option value="PT">Portugal</option>  
                      <option value="PR">Puerto Rico</option>  
                      <option value="QA">Qatar</option>  
                      <option value="UK">Reino Unido</option>  
                      <option value="CF">República Centroafricana</option>  
                      <option value="CZ">República Checa</option>  
                      <option value="ZA">República de Sudáfrica</option>  
                      <option value="DO">República Dominicana</option>  
                      <option value="SK">República Eslovaca</option>  
                      <option value="RE">Reunión</option>  
                      <option value="RW">Ruanda</option>  
                      <option value="RO">Rumania</option>  
                      <option value="RU">Rusia</option>  
                      <option value="EH">Sahara Occidental</option>  
                      <option value="KN">Saint Kitts y Nevis</option>  
                      <option value="WS">Samoa</option>  
                      <option value="AS">Samoa Americana</option>  
                      <option value="SM">San Marino</option>  
                      <option value="VC">San Vicente y Granadinas</option>  
                      <option value="SH">Santa Helena</option>  
                      <option value="LC">Santa Lucía</option>  
                      <option value="ST">Santo Tomé y Príncipe</option>  
                      <option value="SN">Senegal</option>  
                      <option value="SC">Seychelles</option>  
                      <option value="SL">Sierra Leona</option>  
                      <option value="SG">Singapur</option>  
                      <option value="SY">Siria</option>  
                      <option value="SO">Somalia</option>  
                      <option value="LK">Sri Lanka</option>  
                      <option value="PM">St. Pierre y Miquelon</option>  
                      <option value="SZ">Suazilandia</option>  
                      <option value="SD">Sudán</option>  
                      <option value="SE">Suecia</option>  
                      <option value="CH">Suiza</option>  
                      <option value="SR">Surinam</option>  
                      <option value="TH">Tailandia</option>  
                      <option value="TW">Taiwán</option>  
                      <option value="TZ">Tanzania</option>  
                      <option value="TJ">Tayikistán</option>  
                      <option value="TF">Territorios franceses del Sur</option>  
                      <option value="TP">Timor Oriental</option>  
                      <option value="TG">Togo</option>  
                      <option value="TO">Tonga</option>  
                      <option value="TT">Trinidad y Tobago</option>  
                      <option value="TN">Túnez</option>  
                      <option value="TM">Turkmenistán</option>  
                      <option value="TR">Turquía</option>  
                      <option value="TV">Tuvalu</option>  
                      <option value="UA">Ucrania</option>  
                      <option value="UG">Uganda</option>  
                      <option value="UY">Uruguay</option>  
                      <option value="UZ">Uzbekistán</option>  
                      <option value="VU">Vanuatu</option>  
                      <option value="VE">Venezuela</option>  
                      <option value="VN">Vietnam</option>  
                      <option value="YE">Yemen</option>  
                      <option value="YU">Yugoslavia</option>  
                      <option value="ZM">Zambia</option>  
                      <option value="ZW">Zimbabue</option> 
						</select>
							
							</div>
							<div class="col-xs-12 col-sm-4">
								<input type="number" min="0" max="999" step="1" name=""  ng-model='$parent.lada' class='form-control text-box' placeholder='Lada' required/>
							
								<!--<input type="text"  name=""  ng-model='$parent.lada' class='form-control text-box' placeholder='Lada' required/>
							-->
							</div>
							<div class="col-xs-12 col-sm-4">
								<input type="number" min="0" step="1" name=""  ng-model='$parent.phone' class='form-control text-box' placeholder='Número' required/>
							
							 <!--	<input type="text"  name=""  ng-model='$parent.phone' class='form-control text-box' placeholder='Número' required/>
							-->
							
							</div>
						</div>
					</div>
					
					<div class="row text-section">
						<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 form-group" ng-if='venta_internet'>
							<p>¿Quieres poner en venta más de US $500 y/o 10 o más artículos?*</p>
							<select id="venta" class="form-control" ng-model="$parent.venta" required/>
								<option value="" disabled selected>Si,No</option>
								<option value="Sí">Sí </option>
								<option value="No">No</option>
							</select>
						</div>
					</div>
					
					<div class="row text-section">
						<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 form-group">
							<p>Si tu negocio tiene una página web, escríbela aquí </p>
							<input type="text" id="webpage" name="" class='form-control text-box' ng-model='webpage' placeholder='Ej: minegocio.com'/>
						</div>
					</div>
				 
					<div class="row text-section">
						<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 form-group" ng-show='venta_internet'>
							<p>¿Vendes en alguna de las siguientes categorías?*</p>
							<select name="multiselect[]" id="categoria" class="form-control" ng-model='sell_category' multiple="multiple" />
								<option value="" selected disabled>Selecciona todas las que apliquen</option>
								<option value="Relojes y joyería">Relojes y Joyería</option>
								<option value="Partes y accesorios">Partes y accesorios de autos y motos</option>
								<option value="Ropa, calzado y accesorios">Ropa, calzado y accesorios</option>
								<option value="Artesanías">Artesanías</option>
								<option value="Hogar y jardín">Hogar y jardín</option>
								<option value="Tecnología">Tecnología (Smartphones, laptops y tablets)</option>
								<option value="Coleccionables">Coleccionables</option>
								<option value="Libros">Libros</option>
								<option value="Otra categoría">Otra categoría</option>
							</select>
						</div>
					</div>
					<br>
					
					<!--<div class="row text-section">
						<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 form-group">
							<input type="checkbox" id="aceptar" ng-model='aceptar' required/>&nbsp;Leí y acepto los 
							<a href="/terminosCondiciones">términos y condiciones 
							</a>de Crece con eBay
						</div>
					</div>-->
					
					<br>
					<div class="row text-section text-landing">
						<div class="col-xs-11 col-xs-offset-1 col-sm-7 col-sm-offset-3 form-group">
							<p>Al registrarte, aceptas nuestras 
							<a href=" http://pages.ebay.com/mx/es-co/help/policies/user-agreement.html">Condiciones de Uso</a> 
							y confirmas que leíste nuestra 
							<a href="http://pages.ebay.com/mx/es-co/help/policies/privacy-policy.html">Política de Privacidad</a></p>
						</div>
					</div>
					<br>
					
					<center>
					  <div class="hidden-xs">
					    <button type="submit" class="btn btn-blue btn-large">Regístrate</button>  
					  </div>
					  <div class="visible-xs">
					    <button type="submit" class="btn btn-blue btn-sm">Regístrate</button>  
					  </div>
					  
					</center>
			
					
					
					
					
	<div class="modal2 fade bs-example-modal-sm" id="modalMsg" role="dialog" >
    <div class="modal2-dialog modal-sm">
    
      <!-- Modal content-->
      <div class="modal2-content">
        <div class="modal2-body">
          <center>
          <h4 class="modal2-title">¡Gracias!</h4>
          <h4 class="modal2-title">Tu información será enviada.</h4><br>
          <button type="button" class="btn btn-blue btn-large" data-dismiss="modal" ng-click="sendToMessage()">Aceptar</button></center>
        </div>
        <div class="modal2-footer">
          <img src="/images/logo_ebay.png" class="logo-footer text-right">
        </div>
      </div>
      
    </div>
  </div>
					
				
					
					
			</form>
		</div>
</section>


<br><br><br><br><br>
<section>
  <div class="flex-banner-container">
    <!--<div class="flex-banner-full-image" data-src="/images/landing_banner2.jpg">-->
    <div class="flex-banner-full-image">
      <br><br><br>
     
				  <div class="col-md-5 col-md-offset-1 col-xs-6 col-xs-offset-0">
				    <h2 class="text-navy-blue subtitle-landing">
				      <b>Haz tu negocio internacional</b>
				    </h2>
				    <p class="text-navy-blue text-landing">
				      Descubre cómo vender en todo el mundo con eBay
				    </p>
				    <div class="hidden-xs">
				      <br><br><br><br><br><br>
  				    <button class="btn btn-bordered btn-responsive hidden-xs" ng-click="setFocusToTextBox()"><span>Comienza ahora</span>
              </button>
				    </div>
				    
				    <div class="visible-xs">
				      <br><br><br>
				       <button class="btn btn-bordered btn-responsive visible-xs" ng-click="setFocusToTextBox()">Comienza ahora &#8594;
               </button>
				    </div>
            
           
            <br><br><br><br><br>
				  </div>
				
			
			
			
    </div>
  </div>
</section>

<section class=''>

  <div class="flex-banner-container">
    
     <!--<div class="flex-banner-image2" data-src="/images/landing_banner3.png">-->
     <div class="flex-banner-image2">
      
    </div>
    
    <div class="flex-banner-blue-square">
      
        <!--Desktop-->
            <div class="col-sm-9 col-sm-offset-1 hidden-xs text-left">
              <br>
              <h1 class="text-white text-left title-landing">Crea anuncios efectivos</h1>
    					
    					<br><br><br>
    					<br><br><br>
              <button class="btn btn-borderless btn-responsive" ng-click="setFocusToTextBox()"><span>Empieza aquí</span>
      					  <!--<img src="images/Flechita.png" class="arrow">-->
      					</button>
    				</div>
    				<!--End of desktop-->
    				
    				<!--Mobile-->
    				<div class="visible-xs col-xs-11 col-xs-offset-0 text-left">
              <br><br>
              <h1 class="text-white text-left title-landing">Crea anuncios efectivos</h1>
    					<br><br><br><br><br>
              <button class="btn btn-borderless btn-responsive" ng-click="setFocusToTextBox()">Empieza aquí &#8594;
      					  <!--<img src="images/Flechita.png" class="arrow">-->
      					</button>
    				</div>
    				<!-- End of mobile-->
      
      
    </div>
   
  </div>
  
</section>


</div>

<ebay-footer></ebay-footer>