<ebay-header></ebay-header>
<div role="main" ng-init="init()">

  <script language='JavaScript1.1' async src='//pixel.mathtag.com/event/js?mt_id=1227676&mt_adid=195682&mt_exem=&mt_excl=&v1=&v2=&v3=&s1=&s2=&s3='></script>
	<section class='listing-seccion1-bg'>
		<div class='container-fluid text-center' id='seccion1'>
			<br><br><br><br><br><br><br><br>
			<div class="row">
				<div class="col-xs-12 text-center">
					<h2 class="text-white">Haz despegar tu negocio con eBay</h2>
				</div>
			</div>
			<br><br><br><br><br><br><br><br><br>
		</div>
	</section>
	
	<br><br>
	<section>
		<div class='container-fluid text-gray90' id='seccion2'>
		  
		  <div class="row">
		    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
		      <h4 class="text-left">En Crece con eBay, te ayudamos a llegar a mercados internacionales. Danos información detallada de tu artículo y te ayudaremos a ponerlo en venta en eBay.</h4>
		      <br><br><br>
		    </div>
		  </div>
		  <form name="listingForm" ng-submit='sendListingData()'>
				<br>
				<center><h3 class="text-gray90 text-30">Tu información</h3></center>
				<br><br>
				<div class="row text-section text-left">
					<div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 form-group">
						<p>Nombre*</p>
						<input type="text" name="" class='form-control text-box' ng-model='name' placeholder='Nombre' required/>
					</div>
				</div>
				<div class="row text-section text-left">
					<div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 form-group">
						<p>Apellido*</p>
						<input type="text" name="" class='form-control text-box' ng-model='apellido' placeholder='Apellido' required/>
					</div>
				</div>
				<div class="row text-section text-left">
					<div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 form-group">
						<p>Email*</p>
						<input type="email" name="" class='form-control text-box' ng-model='email' placeholder='Email' required/>
					</div>
				</div>
				<div class="row text-section text-left">
					<div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 form-group">
						<p>Confirmar email*</p>
						<input type="email" name="" class='form-control text-box' ng-model='confirmar_email' placeholder='Confirmar email' required/>
					</div>
				</div>
				
					<div class="row text-section text-left">
						<div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 form-group">
							<p>Teléfono de contacto*  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="checkbox" name="telefono" value="fijo" ng-model='fijo.isChecked' ng-change="checkFijo(fijo)"> Fijo&nbsp;&nbsp;&nbsp;
  						<input type="checkbox" name="telefono" value="movil" ng-model='movil.isChecked' ng-change="checkMovil(movil)"> Móvil</p>
						</div>
					</div>
					
					<div class="row text-section text-left">
					  
					  <div class="col-sm-3 col-sm-offset-2 col-xs-10">
									<select id="pais" class="form-control" ng-model='pais' ng-init="pais = 'MX'" required/>
								  <option value="" disabled>País</option>
									<option value="AF">Afganistán</option> 
		               <option value="AL">Albania</option> 
                      <option value="DE">Alemania</option> 
                      <option value="AD">Andorra</option> 
                      <option value="AO">Angola</option> 
                      <option value="AI">Anguilla</option> 
                      <option value="AQ">Antártida</option> 
                      <option value="AG">Antigua y Barbuda</option> 
                      <option value="AN">Antillas Holandesas</option> 
                      <option value="SA">Arabia Saudí</option> 
                      <option value="DZ">Argelia</option> 
                      <option value="AR">Argentina</option> 
                      <option value="AM">Armenia</option> 
                      <option value="AW">Aruba</option> 
                      <option value="AU">Australia</option> 
                      <option value="AT">Austria</option>  
                      <option value="AZ">Azerbaiyán</option>  
                      <option value="BS">Bahamas</option>  
                      <option value="BH">Bahrein</option>  
                      <option value="BD">Bangladesh</option>  
                      <option value="BB">Barbados</option>  
                      <option value="BE">Bélgica</option>  
                      <option value="BZ">Belice</option>  
                      <option value="BJ">Benin</option>  
                      <option value="BM">Bermudas</option>  
                      <option value="BY">Bielorrusia</option>  
                      <option value="MM">Birmania</option>  
                      <option value="BO">Bolivia</option>  
                      <option value="BA">Bosnia y Herzegovina</option>  
                      <option value="BW">Botswana</option>  
                      <option value="BR">Brasil</option>  
                      <option value="BN">Brunei</option>  
                      <option value="BG">Bulgaria</option>  
                      <option value="BF">Burkina Faso</option>  
                      <option value="BI">Burundi</option>  
                      <option value="BT">Bután</option>  
                      <option value="CV">Cabo Verde</option>  
                      <option value="KH">Camboya</option>  
                      <option value="CM">Camerún</option>  
                      <option value="CA">Canadá</option>  
                      <option value="TD">Chad</option>  
                      <option value="CL">Chile</option>  
                      <option value="CN">China</option>  
                      <option value="CY">Chipre</option>  
                      <option value="VA">Ciudad del Vaticano (Santa Sede)</option>  
                      <option value="CO">Colombia</option>  
                      <option value="KM">Comores</option>  
                      <option value="CG">Congo</option>  
                      <option value="CD">Congo, República Democrática del</option>  
                      <option value="KR">Corea</option>  
                      <option value="KP">Corea del Norte</option>  
                      <option value="CI">Costa de Marfíl</option>  
                      <option value="CR">Costa Rica</option>  
                      <option value="HR">Croacia (Hrvatska)</option>  
                      <option value="CU">Cuba</option>  
                      <option value="DK">Dinamarca</option>  
                      <option value="DJ">Djibouti</option>  
                      <option value="DM">Dominica</option>  
                      <option value="EC">Ecuador</option>  
                      <option value="EG">Egipto</option>  
                      <option value="SV">El Salvador</option>  
                      <option value="AE">Emiratos Árabes Unidos</option>  
                      <option value="ER">Eritrea</option>  
                      <option value="SI">Eslovenia</option>  
                      <option value="ES" selected>España</option>  
                      <option value="US">Estados Unidos</option>  
                      <option value="EE">Estonia</option>  
                      <option value="ET">Etiopía</option>  
                      <option value="FJ">Fiji</option>  
                      <option value="PH">Filipinas</option>  
                      <option value="FI">Finlandia</option>  
                      <option value="FR">Francia</option>  
                      <option value="GA">Gabón</option>  
                      <option value="GM">Gambia</option>  
                      <option value="GE">Georgia</option>  
                      <option value="GH">Ghana</option>  
                      <option value="GI">Gibraltar</option>  
                      <option value="GD">Granada</option>  
                      <option value="GR">Grecia</option>  
                      <option value="GL">Groenlandia</option>  
                      <option value="GP">Guadalupe</option>  
                      <option value="GU">Guam</option>  
                      <option value="GT">Guatemala</option>  
                      <option value="GY">Guayana</option>  
                      <option value="GF">Guayana Francesa</option>  
                      <option value="GN">Guinea</option>  
                      <option value="GQ">Guinea Ecuatorial</option>  
                      <option value="GW">Guinea-Bissau</option>  
                      <option value="HT">Haití</option>  
                      <option value="HN">Honduras</option>  
                      <option value="HU">Hungría</option>  
                      <option value="IN">India</option>  
                      <option value="ID">Indonesia</option>  
                      <option value="IQ">Irak</option>  
                      <option value="IR">Irán</option>  
                      <option value="IE">Irlanda</option>  
                      <option value="BV">Isla Bouvet</option>  
                      <option value="CX">Isla de Christmas</option>  
                      <option value="IS">Islandia</option>  
                      <option value="KY">Islas Caimán</option>  
                      <option value="CK">Islas Cook</option>  
                      <option value="CC">Islas de Cocos o Keeling</option>  
                      <option value="FO">Islas Faroe</option>  
                      <option value="HM">Islas Heard y McDonald</option>  
                      <option value="FK">Islas Malvinas</option>  
                      <option value="MP">Islas Marianas del Norte</option>  
                      <option value="MH">Islas Marshall</option>  
                      <option value="UM">Islas menores de Estados Unidos</option>  
                      <option value="PW">Islas Palau</option>  
                      <option value="SB">Islas Salomón</option>  
                      <option value="SJ">Islas Svalbard y Jan Mayen</option>  
                      <option value="TK">Islas Tokelau</option>  
                      <option value="TC">Islas Turks y Caicos</option>  
                      <option value="VI">Islas Vírgenes (EE.UU.)</option>  
                      <option value="VG">Islas Vírgenes (Reino Unido)</option>  
                      <option value="WF">Islas Wallis y Futuna</option>  
                      <option value="IL">Israel</option>  
                      <option value="IT">Italia</option>  
                      <option value="JM">Jamaica</option>  
                      <option value="JP">Japón</option>  
                      <option value="JO">Jordania</option>  
                      <option value="KZ">Kazajistán</option>  
                      <option value="KE">Kenia</option>  
                      <option value="KG">Kirguizistán</option>  
                      <option value="KI">Kiribati</option>  
                      <option value="KW">Kuwait</option>  
                      <option value="LA">Laos</option>  
                      <option value="LS">Lesotho</option>  
                      <option value="LV">Letonia</option>  
                      <option value="LB">Líbano</option>  
                      <option value="LR">Liberia</option>  
                      <option value="LY">Libia</option>  
                      <option value="LI">Liechtenstein</option>  
                      <option value="LT">Lituania</option>  
                      <option value="LU">Luxemburgo</option>  
                      <option value="MK">Macedonia, Ex-República Yugoslava de</option>  
                      <option value="MG">Madagascar</option>  
                      <option value="MY">Malasia</option>  
                      <option value="MW">Malawi</option>  
                      <option value="MV">Maldivas</option>  
                      <option value="ML">Malí</option>  
                      <option value="MT">Malta</option>  
                      <option value="MA">Marruecos</option>  
                      <option value="MQ">Martinica</option>  
                      <option value="MU">Mauricio</option>  
                      <option value="MR">Mauritania</option>  
                      <option value="YT">Mayotte</option>  
                      <option value="MX" selected="selected">México</option>  
                      <option value="FM">Micronesia</option>  
                      <option value="MD">Moldavia</option>  
                      <option value="MC">Mónaco</option>  
                      <option value="MN">Mongolia</option>  
                      <option value="MS">Montserrat</option>  
                      <option value="MZ">Mozambique</option>  
                      <option value="NA">Namibia</option>  
                      <option value="NR">Nauru</option>  
                      <option value="NP">Nepal</option>  
                      <option value="NI">Nicaragua</option>  
                      <option value="NE">Níger</option>  
                      <option value="NG">Nigeria</option>  
                      <option value="NU">Niue</option>  
                      <option value="NF">Norfolk</option>  
                      <option value="NO">Noruega</option>  
                      <option value="NC">Nueva Caledonia</option>  
                      <option value="NZ">Nueva Zelanda</option>  
                      <option value="OM">Omán</option>  
                      <option value="NL">Países Bajos</option>  
                      <option value="PA">Panamá</option>  
                      <option value="PG">Papúa Nueva Guinea</option>  
                      <option value="PK">Paquistán</option>  
                      <option value="PY">Paraguay</option>  
                      <option value="PE">Perú</option>  
                      <option value="PN">Pitcairn</option>  
                      <option value="PF">Polinesia Francesa</option>  
                      <option value="PL">Polonia</option>  
                      <option value="PT">Portugal</option>  
                      <option value="PR">Puerto Rico</option>  
                      <option value="QA">Qatar</option>  
                      <option value="UK">Reino Unido</option>  
                      <option value="CF">República Centroafricana</option>  
                      <option value="CZ">República Checa</option>  
                      <option value="ZA">República de Sudáfrica</option>  
                      <option value="DO">República Dominicana</option>  
                      <option value="SK">República Eslovaca</option>  
                      <option value="RE">Reunión</option>  
                      <option value="RW">Ruanda</option>  
                      <option value="RO">Rumania</option>  
                      <option value="RU">Rusia</option>  
                      <option value="EH">Sahara Occidental</option>  
                      <option value="KN">Saint Kitts y Nevis</option>  
                      <option value="WS">Samoa</option>  
                      <option value="AS">Samoa Americana</option>  
                      <option value="SM">San Marino</option>  
                      <option value="VC">San Vicente y Granadinas</option>  
                      <option value="SH">Santa Helena</option>  
                      <option value="LC">Santa Lucía</option>  
                      <option value="ST">Santo Tomé y Príncipe</option>  
                      <option value="SN">Senegal</option>  
                      <option value="SC">Seychelles</option>  
                      <option value="SL">Sierra Leona</option>  
                      <option value="SG">Singapur</option>  
                      <option value="SY">Siria</option>  
                      <option value="SO">Somalia</option>  
                      <option value="LK">Sri Lanka</option>  
                      <option value="PM">St. Pierre y Miquelon</option>  
                      <option value="SZ">Suazilandia</option>  
                      <option value="SD">Sudán</option>  
                      <option value="SE">Suecia</option>  
                      <option value="CH">Suiza</option>  
                      <option value="SR">Surinam</option>  
                      <option value="TH">Tailandia</option>  
                      <option value="TW">Taiwán</option>  
                      <option value="TZ">Tanzania</option>  
                      <option value="TJ">Tayikistán</option>  
                      <option value="TF">Territorios franceses del Sur</option>  
                      <option value="TP">Timor Oriental</option>  
                      <option value="TG">Togo</option>  
                      <option value="TO">Tonga</option>  
                      <option value="TT">Trinidad y Tobago</option>  
                      <option value="TN">Túnez</option>  
                      <option value="TM">Turkmenistán</option>  
                      <option value="TR">Turquía</option>  
                      <option value="TV">Tuvalu</option>  
                      <option value="UA">Ucrania</option>  
                      <option value="UG">Uganda</option>  
                      <option value="UY">Uruguay</option>  
                      <option value="UZ">Uzbekistán</option>  
                      <option value="VU">Vanuatu</option>  
                      <option value="VE">Venezuela</option>  
                      <option value="VN">Vietnam</option>  
                      <option value="YE">Yemen</option>  
                      <option value="YU">Yugoslavia</option>  
                      <option value="ZM">Zambia</option>  
                      <option value="ZW">Zimbabue</option> 
						</select>
							
				    </div>
				    <div class="col-xs-10 col-sm-2">
								<input type="number" min="0" max="999" step="1" name=""  ng-model='lada' class='form-control text-box' placeholder='Lada' required/>
							</div>
							<div class="col-xs-10 col-sm-3">
								<input type="number" min="0" step="1" name=""  ng-model='phone' class='form-control text-box' placeholder='Número' required/>
							</div>
					  
					</div>
				
				
				<hr>
				<br>
				<center><h3 class="text-gray90 text-30">Información de tu artículo</h3></center>
				<br><br>
				
				<div class="row text-section text-left">
					<div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 form-group">
						<p>Dale un título a tu artículo</p>
						<input type="text" name="" class='form-control text-box' ng-model='title' placeholder='Apple iPhone 5s Negro Smartphone' />
					</div>
				</div>
				<div class="row text-section text-left">
					<div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 form-group">
						<p>Describe tu artículo</p>
						<textarea rows="5" name="" class='form-control text-box' ng-model='description' placeholder='Teléfono nuevo, desbloqueado, touchscreen'></textarea>
					</div>
				</div>
				<div class="row text-section text-left">
					<div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 form-group">
						<p>Condición del artículo</p>
						<textarea rows="5" name="" class='form-control text-box' ng-model='condition' placeholder='Nuevo, en caja original, caja abierta, sin uso, sin daños.'></textarea>
					</div>
				</div>
				
				<div class="row text-section text-left">
					<div class="col-sm-3 col-sm-offset-2 col-xs-8 col-xs-offset-2 form-group">
						<p>¿Cuántos artículos tienes disponibles?</p>
						<select id="quantity" name="quantity" class="form-control" ng-model='quantity' ng-init="quantity = '0-10'">
							<option value="0-10">0-10 artículos</option>
							<option value="1-10">1-10</option>
							<option value="10-50">10-50</option>
							<option value="50-500">50-500</option>
							<option value="500+">500+</option>
						</select>
					</div>
					<div class="col-sm-4 col-sm-offset-1 col-xs-8 col-xs-offset-2 form-group">
						<p class="text-gray90">Ponle un precio a tu artículo (no incluyas envío y manejo)</p>
						<input type="number" min="0" step="1" id="precio" name="precio" class='form-control text-box' ng-model='price' placeholder='$ USD' ng-pattern='number' />
					</div>
					
				</div>
				
				
				<div class="row text-section text-left">
					<div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 form-group">
						<p>Marca</p>
						<input type="text" name="" class='form-control text-box' ng-model='brand' placeholder='Marca del artículo' />
					</div>
				</div>
				<div class="row text-section text-left">
					<div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 form-group">
						<p>Modelo</p>
						<input type="text" name="" class='form-control text-box' ng-model='model' placeholder='Modelo del artículo'/>
					</div>
				</div>
				
			  
			   <div class="row text-section text-left">
			     <div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 form-group">
			       <p>Peso estimado</p> 
			       <input type="number" min="0" step="1" name="" class='form-control text-box' ng-model='weight' placeholder='0-25 Kg'/>
			     </div>
			   
			   </div>
			   
			  
			  <div class="row text-section text-left">
			    <div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 form-group">
			       <p>Tamaño
			       <a class="btn btn-white2 btn-lg" rel="popover" data-img="/images/Listing_box_Tamano.png">
						    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> 
              </a>
			       </p> 
			     </div>
			  </div>
				
				
				 <div class="row text-section text-left">
			     <div class="col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 form-group">
			       <input type="number" min="0" step="1" name="" class='form-control text-box' ng-model='long' placeholder='Largo' ng-pattern='number' />
			     </div>
			     <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 form-group">
			       <input type="number" min="0" step="1" name="" class='form-control text-box' ng-model='width' placeholder='Ancho' ng-pattern='number' />
			     </div>
			     <div class="col-md-2 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 form-group">
			       <input type="number" min="0" step="1" name="" class='form-control text-box' ng-model='height' placeholder='Alto' ng-pattern='number' />
			     </div>
			     
			   </div>
				
				<div class="row text-section text-left">
					<div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 form-group">
						<p>País de fabricación</p>
						<select id="countryOfManufacture" class="form-control" ng-model='countryOfManufacture' ng-init="countryOfManufacture = 'MX'">
							        <option value="" disabled>Selecciona un país</option>
							        <option value="AF">Afganistán</option> 
                      <option value="AL">Albania</option> 
                      <option value="DE">Alemania</option> 
                      <option value="AD">Andorra</option> 
                      <option value="AO">Angola</option> 
                      <option value="AI">Anguilla</option> 
                      <option value="AQ">Antártida</option> 
                      <option value="AG">Antigua y Barbuda</option> 
                      <option value="AN">Antillas Holandesas</option> 
                      <option value="SA">Arabia Saudí</option> 
                      <option value="DZ">Argelia</option> 
                      <option value="AR">Argentina</option> 
                      <option value="AM">Armenia</option> 
                      <option value="AW">Aruba</option> 
                      <option value="AU">Australia</option> 
                      <option value="AT">Austria</option>  
                      <option value="AZ">Azerbaiyán</option>  
                      <option value="BS">Bahamas</option>  
                      <option value="BH">Bahrein</option>  
                      <option value="BD">Bangladesh</option>  
                      <option value="BB">Barbados</option>  
                      <option value="BE">Bélgica</option>  
                      <option value="BZ">Belice</option>  
                      <option value="BJ">Benin</option>  
                      <option value="BM">Bermudas</option>  
                      <option value="BY">Bielorrusia</option>  
                      <option value="MM">Birmania</option>  
                      <option value="BO">Bolivia</option>  
                      <option value="BA">Bosnia y Herzegovina</option>  
                      <option value="BW">Botswana</option>  
                      <option value="BR">Brasil</option>  
                      <option value="BN">Brunei</option>  
                      <option value="BG">Bulgaria</option>  
                      <option value="BF">Burkina Faso</option>  
                      <option value="BI">Burundi</option>  
                      <option value="BT">Bután</option>  
                      <option value="CV">Cabo Verde</option>  
                      <option value="KH">Camboya</option>  
                      <option value="CM">Camerún</option>  
                      <option value="CA">Canadá</option>  
                      <option value="TD">Chad</option>  
                      <option value="CL">Chile</option>  
                      <option value="CN">China</option>  
                      <option value="CY">Chipre</option>  
                      <option value="VA">Ciudad del Vaticano (Santa Sede)</option>  
                      <option value="CO">Colombia</option>  
                      <option value="KM">Comores</option>  
                      <option value="CG">Congo</option>  
                      <option value="CD">Congo, República Democrática del</option>  
                      <option value="KR">Corea</option>  
                      <option value="KP">Corea del Norte</option>  
                      <option value="CI">Costa de Marfíl</option>  
                      <option value="CR">Costa Rica</option>  
                      <option value="HR">Croacia (Hrvatska)</option>  
                      <option value="CU">Cuba</option>  
                      <option value="DK">Dinamarca</option>  
                      <option value="DJ">Djibouti</option>  
                      <option value="DM">Dominica</option>  
                      <option value="EC">Ecuador</option>  
                      <option value="EG">Egipto</option>  
                      <option value="SV">El Salvador</option>  
                      <option value="AE">Emiratos Árabes Unidos</option>  
                      <option value="ER">Eritrea</option>  
                      <option value="SI">Eslovenia</option>  
                      <option value="ES">España</option>  
                      <option value="US">Estados Unidos</option>  
                      <option value="EE">Estonia</option>  
                      <option value="ET">Etiopía</option>  
                      <option value="FJ">Fiji</option>  
                      <option value="PH">Filipinas</option>  
                      <option value="FI">Finlandia</option>  
                      <option value="FR">Francia</option>  
                      <option value="GA">Gabón</option>  
                      <option value="GM">Gambia</option>  
                      <option value="GE">Georgia</option>  
                      <option value="GH">Ghana</option>  
                      <option value="GI">Gibraltar</option>  
                      <option value="GD">Granada</option>  
                      <option value="GR">Grecia</option>  
                      <option value="GL">Groenlandia</option>  
                      <option value="GP">Guadalupe</option>  
                      <option value="GU">Guam</option>  
                      <option value="GT">Guatemala</option>  
                      <option value="GY">Guayana</option>  
                      <option value="GF">Guayana Francesa</option>  
                      <option value="GN">Guinea</option>  
                      <option value="GQ">Guinea Ecuatorial</option>  
                      <option value="GW">Guinea-Bissau</option>  
                      <option value="HT">Haití</option>  
                      <option value="HN">Honduras</option>  
                      <option value="HU">Hungría</option>  
                      <option value="IN">India</option>  
                      <option value="ID">Indonesia</option>  
                      <option value="IQ">Irak</option>  
                      <option value="IR">Irán</option>  
                      <option value="IE">Irlanda</option>  
                      <option value="BV">Isla Bouvet</option>  
                      <option value="CX">Isla de Christmas</option>  
                      <option value="IS">Islandia</option>  
                      <option value="KY">Islas Caimán</option>  
                      <option value="CK">Islas Cook</option>  
                      <option value="CC">Islas de Cocos o Keeling</option>  
                      <option value="FO">Islas Faroe</option>  
                      <option value="HM">Islas Heard y McDonald</option>  
                      <option value="FK">Islas Malvinas</option>  
                      <option value="MP">Islas Marianas del Norte</option>  
                      <option value="MH">Islas Marshall</option>  
                      <option value="UM">Islas menores de Estados Unidos</option>  
                      <option value="PW">Islas Palau</option>  
                      <option value="SB">Islas Salomón</option>  
                      <option value="SJ">Islas Svalbard y Jan Mayen</option>  
                      <option value="TK">Islas Tokelau</option>  
                      <option value="TC">Islas Turks y Caicos</option>  
                      <option value="VI">Islas Vírgenes (EE.UU.)</option>  
                      <option value="VG">Islas Vírgenes (Reino Unido)</option>  
                      <option value="WF">Islas Wallis y Futuna</option>  
                      <option value="IL">Israel</option>  
                      <option value="IT">Italia</option>  
                      <option value="JM">Jamaica</option>  
                      <option value="JP">Japón</option>  
                      <option value="JO">Jordania</option>  
                      <option value="KZ">Kazajistán</option>  
                      <option value="KE">Kenia</option>  
                      <option value="KG">Kirguizistán</option>  
                      <option value="KI">Kiribati</option>  
                      <option value="KW">Kuwait</option>  
                      <option value="LA">Laos</option>  
                      <option value="LS">Lesotho</option>  
                      <option value="LV">Letonia</option>  
                      <option value="LB">Líbano</option>  
                      <option value="LR">Liberia</option>  
                      <option value="LY">Libia</option>  
                      <option value="LI">Liechtenstein</option>  
                      <option value="LT">Lituania</option>  
                      <option value="LU">Luxemburgo</option>  
                      <option value="MK">Macedonia, Ex-República Yugoslava de</option>  
                      <option value="MG">Madagascar</option>  
                      <option value="MY">Malasia</option>  
                      <option value="MW">Malawi</option>  
                      <option value="MV">Maldivas</option>  
                      <option value="ML">Malí</option>  
                      <option value="MT">Malta</option>  
                      <option value="MA">Marruecos</option>  
                      <option value="MQ">Martinica</option>  
                      <option value="MU">Mauricio</option>  
                      <option value="MR">Mauritania</option>  
                      <option value="YT">Mayotte</option>  
                      <option value="MX" selected="selected">México</option>  
                      <option value="FM">Micronesia</option>  
                      <option value="MD">Moldavia</option>  
                      <option value="MC">Mónaco</option>  
                      <option value="MN">Mongolia</option>  
                      <option value="MS">Montserrat</option>  
                      <option value="MZ">Mozambique</option>  
                      <option value="NA">Namibia</option>  
                      <option value="NR">Nauru</option>  
                      <option value="NP">Nepal</option>  
                      <option value="NI">Nicaragua</option>  
                      <option value="NE">Níger</option>  
                      <option value="NG">Nigeria</option>  
                      <option value="NU">Niue</option>  
                      <option value="NF">Norfolk</option>  
                      <option value="NO">Noruega</option>  
                      <option value="NC">Nueva Caledonia</option>  
                      <option value="NZ">Nueva Zelanda</option>  
                      <option value="OM">Omán</option>  
                      <option value="NL">Países Bajos</option>  
                      <option value="PA">Panamá</option>  
                      <option value="PG">Papúa Nueva Guinea</option>  
                      <option value="PK">Paquistán</option>  
                      <option value="PY">Paraguay</option>  
                      <option value="PE">Perú</option>  
                      <option value="PN">Pitcairn</option>  
                      <option value="PF">Polinesia Francesa</option>  
                      <option value="PL">Polonia</option>  
                      <option value="PT">Portugal</option>  
                      <option value="PR">Puerto Rico</option>  
                      <option value="QA">Qatar</option>  
                      <option value="UK">Reino Unido</option>  
                      <option value="CF">República Centroafricana</option>  
                      <option value="CZ">República Checa</option>  
                      <option value="ZA">República de Sudáfrica</option>  
                      <option value="DO">República Dominicana</option>  
                      <option value="SK">República Eslovaca</option>  
                      <option value="RE">Reunión</option>  
                      <option value="RW">Ruanda</option>  
                      <option value="RO">Rumania</option>  
                      <option value="RU">Rusia</option>  
                      <option value="EH">Sahara Occidental</option>  
                      <option value="KN">Saint Kitts y Nevis</option>  
                      <option value="WS">Samoa</option>  
                      <option value="AS">Samoa Americana</option>  
                      <option value="SM">San Marino</option>  
                      <option value="VC">San Vicente y Granadinas</option>  
                      <option value="SH">Santa Helena</option>  
                      <option value="LC">Santa Lucía</option>  
                      <option value="ST">Santo Tomé y Príncipe</option>  
                      <option value="SN">Senegal</option>  
                      <option value="SC">Seychelles</option>  
                      <option value="SL">Sierra Leona</option>  
                      <option value="SG">Singapur</option>  
                      <option value="SY">Siria</option>  
                      <option value="SO">Somalia</option>  
                      <option value="LK">Sri Lanka</option>  
                      <option value="PM">St. Pierre y Miquelon</option>  
                      <option value="SZ">Suazilandia</option>  
                      <option value="SD">Sudán</option>  
                      <option value="SE">Suecia</option>  
                      <option value="CH">Suiza</option>  
                      <option value="SR">Surinam</option>  
                      <option value="TH">Tailandia</option>  
                      <option value="TW">Taiwán</option>  
                      <option value="TZ">Tanzania</option>  
                      <option value="TJ">Tayikistán</option>  
                      <option value="TF">Territorios franceses del Sur</option>  
                      <option value="TP">Timor Oriental</option>  
                      <option value="TG">Togo</option>  
                      <option value="TO">Tonga</option>  
                      <option value="TT">Trinidad y Tobago</option>  
                      <option value="TN">Túnez</option>  
                      <option value="TM">Turkmenistán</option>  
                      <option value="TR">Turquía</option>  
                      <option value="TV">Tuvalu</option>  
                      <option value="UA">Ucrania</option>  
                      <option value="UG">Uganda</option>  
                      <option value="UY">Uruguay</option>  
                      <option value="UZ">Uzbekistán</option>  
                      <option value="VU">Vanuatu</option>  
                      <option value="VE">Venezuela</option>  
                      <option value="VN">Vietnam</option>  
                      <option value="YE">Yemen</option>  
                      <option value="YU">Yugoslavia</option>  
                      <option value="ZM">Zambia</option>  
                      <option value="ZW">Zimbabue</option> 
						</select>
					</div>
				</div>
				<div class="row text-section text-left">
					<div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 form-group">
						<p>Además de Estados Unidos, ¿a qué otros países deseas vender?</p>
						<!--<input type="text" name="" class='form-control text-box' placeholder='País de fabricación'/>-->
						<select id="country" name="multiselect[]" class="form-control" ng-model='country' multiple="multiple">
							<option value="" selected disabled>Agregar país</option>
							<option value="Ninguno">Ninguno</option>
							<option value="CA">Canadá</option>
							<option value="GB">Reino Unido</option>
							<option value="DE">Alemania</option>
							<option value="AG">Antigua y Barbuda</option>
							<option value="SA">Arabia Saudita</option>
							<option value="AW">Aruba</option>
							<option value="AU">Australia</option>
							<option value="AT">Austria</option>
							<option value="BD">Bangladés</option>
							<option value="BB">Barbados</option>
							<option value="BH">Baréin</option>
							<option value="BE">Bélgica</option>
							<option value="BZ">Belice</option>
							<option value="BM">Bermudas</option>
							<option value="BO">Bolivia</option>
							<option value="BR">Brasil</option>
							<option value="BN">Brunéi Darussalam</option>
							<option value="BG">Bulgaria</option>
							<option value="KH">Camboya</option>
							<option value="CL">Chile</option>
							<option value="CN">China</option>
							<option value="CY">Chipre</option>
							<option value="CO">Colombia</option>
							<option value="KR">Corea del Sur</option>
							<option value="CR">Costa Rica</option>
							<option value="HR">Croacia</option>
							<option value="DK">Dinamarca</option>
							<option value="DM">Dominica</option>
							<option value="EC">Ecuador</option>
							<option value="EG">Egipto</option>
							<option value="SV">El Salvador</option>
							<option value="AE">Emiratos Árabes Unidos</option>
							<option value="SK">Eslovaquia</option>
							<option value="SI">Eslovenia</option>
							<option value="ES">España</option>
							<option value="EE">Estonia</option>
							<option value="PH">Filipinas</option>
							<option value="FI">Finlandia</option>
							<option value="FR">Francia</option>
							<option value="GI">Gibraltar</option>
							<option value="GD">Granada</option>
							<option value="GR">Grecia</option>
							<option value="GP">Guadalupe (Francesa)</option>
							<option value="GT">Guatemala</option>
							<option value="GG">Guernesey</option>
							<option value="GF">Guyana Francesa</option>
							<option value="HN">Honduras</option>
							<option value="HK">Hong Kong</option>
							<option value="HU">Hungría</option>
							<option value="ID">Indonesia</option>
							<option value="IE">Irlanda</option>
							<option value="IS">Islandia</option>
							<option value="KY">Islas Caimán</option>
							<option value="TC">Islas Turcas y Caicos</option>
							<option value="IL">Israel</option>
							<option value="IT">Italia</option>
							<option value="JM">Jamaica</option>
							<option value="JP">Japón</option>
							<option value="JE">Jersey</option>
							<option value="JO">Jordania</option>
							<option value="KW">Kuwait</option>
							<option value="LV">Letonia</option>
							<option value="LI">Liechtenstein</option>
							<option value="LT">Lituania</option>
							<option value="LU">Luxemburgo</option>
							<option value="MO">Macao</option>
							<option value="MY">Malasia</option>
							<option value="MV">Maldivas</option>
							<option value="MT">Malta</option>
							<option value="MQ">Martinica (Francesa)</option>
							<option value="MX">México</option>
							<option value="MC">Mónaco</option>
							<option value="MS">Montserrat</option>
							<option value="NI">Nicaragua</option>
							<option value="NO">Noruega</option>
							<option value="NZ">Nueva Zelanda</option>
							<option value="OM">Omán</option>
							<option value="NL">Países Bajos</option>
							<option value="PK">Pakistán</option>
							<option value="PA">Panamá</option>
							<option value="PY">Paraguay</option>
							<option value="PE">Perú</option>
							<option value="PL">Polonia</option>
							<option value="PT">Portugal</option>
							<option value="QA">Qatar</option>
							<option value="CZ">República Checa</option>
							<option value="DO">República Dominicana</option>
							<option value="RE">Reunión (Francesa)</option>
							<option value="RO">Rumania</option>
							<option value="RU">Rusia</option>
							<option value="KN">San Cristóbal y Nieves</option>
							<option value="LC">Santa Lucía</option>
							<option value="SG">Singapur</option>
							<option value="LK">Sri Lanka</option>
							<option value="ZA">Sudáfrica</option>
							<option value="SE">Suecia</option>
							<option value="CH">Suiza</option>
							<option value="TH">Tailandia</option>
							<option value="TW">Taiwán</option>
							<option value="TT">Trinidad y Tobago</option>
							<option value="UA">Ucrania</option>
						</select>
					</div>
				
				</div>
			  <br>	
				<div class="row">
				  <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2" id="countries" name="countries">
				    
				  </div>
				</div>
				
				<br><br>
				<div class="row text-section text-center">
					<div class="col-xs-4 col-xs-offset-3 col-sm-4 col-sm-offset-4">
						<button type="submit" class="btn btn-blue btn-large" >Enviar información</button>
					</div>
				</div>
		
  <div class="modal2 fade bs-example-modal-sm" id="modalMsg" role="dialog" >
    <div class="modal2-dialog modal-sm">
    
      <!-- Modal content-->
      <div class="modal2-content">
        <div class="modal-header">
          <button type="button" class="close-small" data-dismiss="modal" ng-click="sendToMain()" aria-hidden="true">&times;</button>
        </div>
        <div class="modal2-body text-gray90">
          <center>
          <h4 class="modal2-title">¡Gracias!</h4>
          <h4 class="modal2-title">Enviaste con éxito tu información.</h4><br>
          <button type="button" class="btn btn-blue btn-large" data-dismiss="modal" ng-click="sendToListing()">Poner en venta otro artículo</button></center>
        </div>
        <div class="modal2-footer">
          <img src="/images/logo_ebay.png" class="logo-footer text-right">
        </div>
      </div>
      
    </div>
  </div>
  
</div>
				
			  <br>
			  <div class="row text-gray90 text-center">
					<div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3">
					  <p>¿Tienes dudas acerca de cómo enviar tus productos? <a href="/enviar">Haz clic aquí</a></p>
					</div>
				</div>
			  

			
			</form>
		</div>
		
	</section>
	
	
	
</div>
<br>


<ebay-footer></ebay-footer>