<ebay-header></ebay-header>
<div role="main" ng-init="init()">
		
	<section class="" id='2'>
		<img src ="images/Banner_No.png">
	</section>
	
	<section class="rect-10px">
   	
  </section>
	
	<section class="">
			<br><br>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h2 class="text-center text-strong-blue">Descubre más maneras en las que podemos ayudarte</h2>		
				</div>
			</div>
			<br><br>
	</section>
	
	<section class="rect-10px">
   	
   </section>
   
   <section class="">
	  <div class="row no-gutter text-message">
	  	<div class="col-sm-4 col-xs-4">
	  		<div class="midBlueSquare-message text-center">
	  			<br><br>	
					<p class="text-center text-white">Descubre más <br>razones para <br>crecer&#8594;
					<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<br><img class="img-icon2" src="/images/globe_icon.png"></p>
				</div>	
			</div>
		
		<div class="col-sm-4 col-xs-4">
  		<div class="graySquare text-center">	
  		  <br><br>
				<p class="text-center">Aprende <br> con estos <br>consejos&#8594;<br>
						  &nbsp;&nbsp;
						  <br><img class="img-icon-no" src="/images/computer_icon_no.png"></p>
			</div>	
		</div>
		
		<div class="col-sm-4 col-xs-4">
  		<div class="midBlueSquare-message text-center">	
  		  <br><br>
				<p class="text-center text-white">Vuelvete un <br>experto con <br>esta guía&#8594;<br>
						  &nbsp;
						  <br><img class="img-icon1" src="/images/chat_bubble_icon.png"></p>
			</div>	
		</div>
   	
   </section>
   
   <section class="rect-10px">
   	
   </section>
   
	
	
	
</div>

<ebay-footer></ebay-footer>