<ebay-header2></ebay-header2>


<div role="main" ng-init="init()">
	<section class='mensaje-seccion1-bg'>
		<div class='container-fluid text-center' id='seccion1'>
			<br><br><br><br><br>
			<div class="row">
				<div class="col-xs-12 text-center">
					<h2 class="text-white">¡Enviaste correctamente tu información!</h2>
				</div>
			</div>
			<br><br><br><br><br>
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 text-center">
					<h4 class="text-white">Pronto recibirás un correo electrónico de confirmación de Crece con eBay. <br>
¡Sigue descubriendo más posibilidades de negocios con nosotros!.</h4>
				</div>
			</div>
			<br><br><br><br><br>
		</div>
	</section>
	<br><br>
	<h4 class="text-black text-center">Gracias por confiar en eBay y hacer crecer tu negocio.</h4>
	<br>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-xs-12">
			<div class="col-sm-4 col-sm-offset-0 col-xs-4 col-xs-offset-3 text-center">
				<a href="/anunciar"><img src="/images/CTA_C_2.png" class="cta-pc"></a><br>
				<p class="text-section">Crea tu anuncio</p>
			</div>
			<div class="col-sm-4 col-sm-offset-0 col-xs-4 col-xs-offset-3 text-center">
				<a href="/vendeEnEbay"><img src="/images/CTA_LOGO.png" class="cta-pc"></a><br>
				<p class="text-section">Aprende más de eBay</p>
			</div>
			<div class="col-sm-4 col-sm-offset-0 col-xs-4 col-xs-offset-3 text-center">
				<a href="/guia_paso1"><img src="/images/CTA_GUIA_2.png" class="cta-pc"></a><br>
				<p class="text-section">Checa nuestra guía interactiva</p>
			</div>
		</div>
	</div>
	
	</div>

<ebay-footer></ebay-footer>
