<ebay-header></ebay-header>


<div role="main" ng-init="init()">
	<section class='mensaje-seccion1-bg'>
		<div class='container-fluid text-center' id='seccion1'>
			<br><br><br><br><br>
			<div class="row">
				<div class="col-xs-12 text-center">
					<h2 class="text-white">¡Enviaste correctamente tu información!</h2>
				</div>
			</div>
			<br><br><br><br><br>
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 text-center">
					<h4 class="text-white">Pronto recibirás un correo electrónico de confirmación de Crece con eBay y te 
					llamaremos en las próximas 48 horas. <br>Sigue descubriendo más posibilidades</h4>
				</div>
			</div>
			<br><br><br><br><br>
		</div>
	</section>
	<br><br>
	<h4 class="text-black text-center">Gracias por confiar en eBay y hacer crecer tu negocio.</h4>
	<br>
	<center><button type="button" class="btn btn-blue btn-large" onclick="location.href='http://ebay.com';">Ir a ebay.com</button></center>
</div>

<ebay-footer></ebay-footer>