<ebay-header></ebay-header>


<div role="main" ng-init="init()">
	
	<script language='JavaScript1.1' async src='//pixel.mathtag.com/event/js?mt_id=1227674&mt_adid=195682&mt_exem=&mt_excl=&v1=&v2=&v3=&s1=&s2=&s3='></script>
	
	<section class="">
		<div class="flex-banner-container">
			<div class="flex-message-light-blue-square">
				<h2 class="text-blue title-message">Enviaste correctamente tu información</h2>
							<br>
							<p class="text-blue message-text">
								Ahora te invitamos a seguir encontrando  más razones para vender con eBay.
							</p>
			</div>
			<div class="flex-message-image1">
				
			</div>
		</div>
	</section>


	<section class="">
		<div class="flex-banner-container">
			<div class="flex-message-image2">
				<h2 class="text-purple-message title-message text-left">
								Haz tu negocio 
								internacional</h2>		
								<br>
								<p class="text-purple-message message-text text-left">
									Descubre cómo vender más en todo el mundo 
									con ebay 
								</p>
								<br><br><br>
								<button class="btn btn-purple-bordered btn-responsive" onclick="window.location.href='/beneficiosEbay'">Comienza ahora&#8594;
				            	</button>
				
			</div>	
		</div>
	</section>


	<section class="">
		<div class="flex-banner-container">
			<div class="flex-message-image3">
				
			</div>
			<div class="flex-message-purple-square2">
				<div class="col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-0  text-left">
		              <h1 class="text-white text-left title-landing">Crea anuncios efectivos</h1>
		    		  <br><br><br>
		              <button class="btn btn-white-bordered btn-responsive" onclick="window.location.href='/optimizaPublicaciones'">Comienza ahora
		      					  <img src="images/Flechita.png" class="arrow">
		      					</button>
		    				</div>
			
			</div>
			
		</div>	
	</section>

  
</div>

<ebay-footer></ebay-footer>