<ebay-header></ebay-header>
<div role="main" ng-init="init()">
  <section class="mobilesFirst-seccion1bg" id='top'>
    <div class="container-fluid">
    	<br><br>
      <div class="row">
      	<div class="col-sm-4 col-sm-offset-1 col-xs-5 col-xs-offset-0">
      		<p class="text-blue text-big text-left">DISPOSITIVOS MÓVILES</p>
      	</div>
      	
      </div>
      <div class="row">
      	<div class="col-sm-3 col-sm-offset-1 col-xs-5">
      		<p>El 50% del total de transacciones en eBay pasan por 
      		dispositivos móviles. 
					</p>
      	</div>
      </div>
      <br>
      <div class="row">
      	<div class="col-sm-3 col-sm-offset-1 col-xs-5">
      		<a href="http://ebaybusinessbuilder.com/wp-content/uploads/2016/03/2-1_ebay_mobile_print.pdf">
					Aprende más
					</a>
      	</div>
      </div>
     	                
     </div>
     <br><br><br><br><br>
   </section>  
   
   <section class='' id='mobiles1'>
   	<div class='container-fluid text-center'>
			
			<div class="row">
			  <div class="col-sm-10 col-sm-offset-1 col-xs-8">
			    <p class="text-left">Con más personas comprando directamente desde sus smartphones y tabletas, 
			    es importante que optimices tus anuncios para la experiencia móvil. Sigue estos consejos y
			    <a href="http://anywhere.ebay.com/mobile/iphone/ebay/ ">descarga 
			    la aplicación de eBay</a> para monitorear regularmente cómo se ven tu tienda y tus anuncios en dispositivos 
			    móviles.</p>
			    
			  </div>
			  
			
			</div>
  	</div>
	</section>
	
	<section class='' id='mobiles2'>
   	<br>
		<div class='container-fluid text-center'>
			<div class="row">
			  <div class="col-sm-10 col-sm-offset-1 col-xs-8">
			    <h3 class="text-left">Datos sobre eBay móvil</h3>
			    <ol class="text-left">
			    	<li>348 millones de descargas en todo el mundo. </li>
			    	<li>Aplicación disponible en 190 países.</li>
			    	<li>2016 eBay generó $38.6 miles de millones de dólares por ventas en dispositivos móviles.</li>
			    	<li>Un par de zapatos para mujer se compra por celular cada 8 segundos </li>
			    	<li>Un videojuego se compra por celular cada 11 segundos </li>
			    	<li>En Estados Unidos, un auto o camión se compra por celular cada 3 minutos </li>
			    </ol>
			    <img clas="infographic" src="/images/Infographic_Mobile_First.png">   
			  </div>
			</div>
  	</div>
	</section>
	
	<section class='' id='mobiles3'>
   	<br><br><br>
		<div class='container-fluid text-center'>
			<div class="row">
			  
			  <div class="col-sm-5 col-sm-offset-1 col-xs-8">
			  <h2 class="text-left">Prácticas recomendadas para optimizar anuncios en móviles</h2>
			   <h3 class="text-left">Optimiza las fotos</h3>
			   <div class="row">
			   		 <div class="col-sm-10 col-xs-12">
			   		 	<table class="table-borderless">
			   		 		<tr>
			   		 			<td><img class="check" src="/images/Palomita.png"></td>
			   		 			<td class="text-left"><p class="text-left"><b>SI</b> Permite que la aplicación de eBay acceda a tu cámara y agrega imágenes 
    			     solamente en la sección Fotos. Puedes cargar hasta 12  fotografías gratis.</p></td>
			   		 		</tr>
			   		 		<tr>
			   		 			<td><img class="cross" src="/images/Tache.png"></td>
			   		 			<td><p class="text-left"><b>NO</b> Evita incluir imágenes o enlaces con imágenes en la descripción del 
    			     artículo pues no se mostrarán de manera correcta.</p></td>
			   		 		</tr>
			   		 	</table>
			   		 </div>
			   </div>  
			   <hr>
			   <div class="graySquare">
			     <p class="text-left">Prácticas recomendadas adicionales</p>  
			   </div>
			   <hr>
			   <ul class="text-left">
			     <li>Incluye varias fotos y diferentes ángulos de tu artículo. </li>
			   </ul>
			   <ul class="text-left">
			     <hr>
			     <li>El tamaño mínimo es 500 píxeles. A más píxeles, mejor resolución.</li>
			   </ul>
			     <hr>
			   <ul class="text-left">
			     <li>Utiliza fondos claros y libres de objetos y enmarca todo tu artículo en la foto. </li>
			   </ul>
			     <hr>
			   <ul class="text-left">
			     <li>Prefiere imágenes sin texto o márgenes</li>
			   </ul>
			     <hr>
			   <ul class="text-left">
			     <li>Utiliza imágenes cuadradas (ejemplo: 1600x1600) </li>
			   </ul>
			     <hr>
			  </div>
			 
			  <div class="col-sm-5 col-sm-offset-0 col-xs-7 col-xs-offset-1">
			    <img class="celulares" src="/images/Celulares.png">   
			    <h4><a href="http://www.ebay.com/tools/sell/mobile-friendly-test">Aprende más...</a></h4>
			  </div>  
			   
			</div>
  	</div>
	</section>
	
	<section class='' id='mobiles4'>
   	<br><br><br>
		<div class='container-fluid text-center'>
		  
		  <div class="row">
		    <div class="col-sm-10 col-sm-offset-1 col-xs-8">
		      <h3 class="text-left">Optimiza el título</h3>
			    <p class="text-left">Los títulos deben ser fáciles de leer y contener información específica sobre tu artículo.</p>
		    </div>
		  </div>
			
			<div class="row">
			  
			  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
			   <div class="row">
			   		 <table class="table-borderless">
			   				<tr>
			   					<td><img class="check" src="/images/Palomita.png"></td>
			   					<td><p class="text-left"><b>SI</b> Incluye datos como marca, número de serie del fabricante (MPN), 
    			     		tamaño, color, etc. </p></td>
    			     	</tr>
    			     	<tr>
    			     		<td><img class="cross" src="/images/Tache.png"></td>
			   					<td><p class="text-left"><b>NO</b> Evita incluir sinónimos, información no referida al artículo, 
    			   			mayúsculas o exclamaciones.</p></td>
    			     	</tr>
			   			</table>
			    </div>  
			  </div>
			  
			</div>
			
			<div class="row">
			  <div class="col-sm-10 col-sm-offset-1 col-xs-8">
			    <h2 class="text-left">Prueba tu anuncio antes de publicarlo</h2>  
			  </div>
			</div>
			
			<div class="row">
			  
			  <div class="col-sm-5 col-sm-offset-1 col-xs-12">
			     <img class="exec-cel img-responsive" src="/images/CelularEjecutivo.png">   
			  </div>
			  <div class="col-sm-5 col-sm-offset-0 col-xs-5">
			  	<table class="table-borderless">
						<tr>
							<td><img class="check" src="/images/Palomita.png"></td>
							<td><p class="text-left"><b>SÍ</b> Revisa los anuncios en un teléfono o tablet para asegurar 
    			   que se muestran correctamente. </p></td>
						</tr>
						<tr>
							<td>
								<img class="cross" src="/images/Tache.png">
							</td>
							<td><p class="text-left"><b>NO</b> Evita usar Flash o JavaScript en anuncios de eBay.
    			   Flash no se descarga bien en dispositivos de Apple. </p></td>
    			  </tr>
    			  <tr>
    			  	<td></td>
    			  	<td><img class="text-center no-flash" src="/images/NoFlash.png"></td>
    			  </tr>
					</table>
			  	
			    <!--<div class="col-sm-2">
    			   <img class="check" src="/images/Palomita.png">   
    			   <img class="cross" src="/images/Tache.png">   
    			 </div>
    			 <div class="col-sm-10">
    			   <p class="text-left"><b>SÍ</b> Revisa los anuncios en un teléfono o tablet para asegurar 
    			   que se muestran correctamente. </p>
    			   <p class="text-left"><b>NO</b> Evita usar Flash o JavaScript en anuncios de eBay.
    			   Flash no se descarga bien en dispositivos de Apple. </p><br>
    			   <img class="text-center no-flash" src="/images/NoFlash.png">   
    			 </div>-->
			  </div>
		
			</div>
			
  	</div>
	</section>
	
	<section class='' id='mobiles5'>
   	<br><br><br>
		<div class='container-fluid text-center'>
		  
		  <div class="row">
		    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
		      <h3 class="text-left">Utiliza descripciones específicas e identificadores de tu artículo</h3>
			    <p class="text-left">Incluye identificadores requeridos del producto (marca, número de serie 
			    del fabricante (MPN) y GTIN*) y otros específicos en la medida de lo posible. </p>
			    <ul class="text-left">
			      <li>Te ayudan a mostrar información básica en la página del producto.</li>
			      <li>Se usan para filtrar resultados de búsqueda </li>
			      <li>Potencian las ventas al dar más visibilidad al artículo y reducen una mala experiencia de compra.</li>
			    </ul>
		    </div>
		  </div>
			
			<div class="row">
			  <div class="col-sm-5 col-sm-offset-1 col-xs-5 col-xs-offset-1">
			  	<img class="last-phone" src="/images/LastPhone.png">   	
			  </div>
			</div>
			
  	</div>
	</section>
	
	
	
	
	
</div>
<br><br><br><br><br><br><br><br>
<ebay-footer></ebay-footer>