 <div class="modal fade" id="modalMsg" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Gracias!</h4>
          <h4 class="modal-title">Tu información será enviada.</h4>
          
        </div>
        <div class="modal-body">
          <button type="button" class="btn btn-blue btn-large btn-block" data-dismiss="modal" ng-click="sendToMessage()">Aceptar</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>