<ebay-header></ebay-header>
<div role="main" ng-init="init()">
  <section id='top'>
  	 <div class="flex-banner-container">
    	<div class="flex-optimal-image1">
    		
    	</div>
    	<div class="flex-optimal-purple-square">
    		<h1 class="text-white text-left subtitle-landing font-bold">
    			Crea anuncios más efectivos
    		</h1>
    		<br><br>
    		<p class="text-white text-left text-optimal-banner">
    			Sigue estos consejos para mejorar tus anuncios y aumentar tus ventas
    		</p>
    	</div>
     </div>
  </section>	
  <section class="">
		<div class="flex-banner-container">
			<div class="flex-optimal-image2">
				<br><br>
								<b><h2 class="text-purple-message title-message">
								Prácticas recomendadas</h2>	</b>	
								<br>
								<p class="text-purple-message message-text">
									Te presentamos algunas estrategias de venta que te ayudarán a ser un mejor vendedor.
								</p>
								<br><br><br>
								<button class="btn btn-purple btn-responsive" onclick="window.location.href='/mejoresPracticas'">
									<span>Descubre más</span>
				            	</button>
				
			</div>	
		</div>
	</section>
  
  <section class="">
  	<div class="flex-banner-container">
  		<div class="flex-optimal-image3">
  		<!--	<br><br><br>
  			<h1 class="text-blue title-landing">
  				Ventas desde el celular
  			</h1>
  			<br>
  			<p class="text-blue text-landing">
  				Optimiza tus anuncios  para dispositivos móviles.
  			</p>
  			<br><br><br><br>
  			<b>
  			<a class="text-blue" href="/">Aprende más &#8594;</a>
  			</b>-->
  		</div>
  		<div class="flex-optimal-blue-square">
  			<br><br><br>
  			<div class="row">
  				<div class="col-sm-6 col-sm-offset-1">
	  				<h1 class="text-white title-landing font-bold">
	  				Identificadores de producto
		  			</h1>
		  			<br>
		  			<p class="text-white text-landing">
		  				Gana más visibilidad y haz que más compradores encuentren fácilmente tus artículos.
		  			</p>
		  			<br><br><br>
		  			<b>
		  			<a class="text-white text-landing text-link" href="/identificadores">Empieza aquí &#8594;</a>
		  			</b>
  				</div>
  			</div>
  			
  			
  		</div>
  	</div>
  </section>
	
 <section class="">
 	<div class="flex-banner-container">
			<div class="flex-optimal-image4">
				
			
								<br><br>
								<b><h2 class="text-purple-message title-message font-bold">
								Centro de Ventas de eBay</h2></b>
								<br>
								<p class="text-purple-message message-text">
									El lugar donde puedes  administrar tu negocio.
								</p>
								<br><br><br>
								<b>
									<a class="text-purple-message text-landing text-link" href="/sellerHubEspanol">Descubre más &#8594;</a>	
								</b>
								
								
								
							
			</div>
	</div>
 </section>
 
 <section class="">
 	<div class="flex-banner-container">
 		<div class="flex-optimal-light-blue-square">
 			<br><br><br>
  			<h1 class="text-blue text-bold title-landing">
  				Herramientas de publicación
  			</h1>
  			<br>
  			<p class="text-blue text-landing">
  				Publica más rápido y muestra más artículos de tu catálogo.
  			</p>
  			<br>
  			<b>
  				<a class="text-blue text-bold text-landing text-link" href="/herramientas">Más información &#8594;</a>
  			</b>
 		</div>
 		<div class="flex-optimal-image5">
 			<div class="row">
  				<div class="col-sm-6 col-sm-offset-1">
		 			<br><br><br>
		  			<h1 class="text-purple-message text-bold title-landing">
		  				Optimización de fotos
		  			</h1>
		  			<br>
		  			<p class="text-purple-message text-landing">
		  				Toma fotos en alta resolución para presentar mejor tus productos.
		  			</p>
		  			<br><br><br><br>
		  			<b>
		  			<a class="text-purple-message text-landing text-link" href="/mejoresFotos">Empieza aquí &#8594;</a>
		  			</b>
		  		</div>
		  	</div>
 		</div>
 	</div>
 </section>
	
	

</div>
	
	
</div>



<ebay-footer></ebay-footer>