<ebay-header></ebay-header>
<div role="main" ng-init="init()">
  
  <script language='JavaScript1.1' async src='//pixel.mathtag.com/event/js?mt_id=1227681&mt_adid=195682&mt_exem=&mt_excl=&v1=&v2=&v3=&s1=&s2=&s3='></script>
  <section class="" id='2'>
   	  <div class="flex-banner-container">
   	  	<div class="flex-banner-purple-square2">
   	  		<h1 class="text-white text-left title-landing text-big font-bold">
      			 Optimiza tus fotos
	      		</h1>
	      		<br>
	      		<p class="text-white text-left text-landing">
	      			Incluye hasta 12 fotos gratis
					en tus anuncios
 				</p>
   	  	</div>
   	  	<div class="flex-pictures-image1">
   	  		
   	  	</div>
   	  </div>
   	  
  </section>
  
  <section>
  	<div class="flex-banner-container">
  		<div class="row">
  			<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  				<br><br><br><br><br class="hidden-xs"><br class="hidden-xs"><br class="hidden-xs">
  				<p class="text-gray90 text-form1 text-left">
  					Una foto detallada y en alta resolución puede ayudarte a vender más. 
  					Para mejorar el desempeño de tus anuncios, incluye fotos que muestren 
  					todos los ángulos de tu artículo.
  				</p>
  				<br><br><br><br><br class="hidden-xs"><br class="hidden-xs"><br class="hidden-xs">
  			</div>
  		</div>
  	</div>
  </section>
  
 <section class="">
 	<div class="flex-banner-container">
 		<div class="flex-pictures-image2">
 			<p class="text-blue text-left text-landing">
 				Usa un fondo claro y despejado
 			</p>
 		</div>
 		<div class="flex-pictures-light-blue-square">
 			<h2 class="text-blue text-right subtitle-landing font-bold">
 				Algunos consejos para fotografiar tus artículos 
 			</h2>
 			
 		</div>
 	</div>
 </section> 
 
 <section>
 	<div class="flex-banner-container">
 		<div class="flex-pictures-image3">
 			<p class="text-blue text-right text-landing">
 				Apaga el flash y usa luz difuminada
 			</p>
 		</div>
 		<div class="flex-pictures-image4">
 			<p class="text-blue text-left text-landing">
 				Muestra todos los ángulos, detalles y fallas
 			</p>
 		</div>
 		<div class="flex-pictures-image5">
 			<p class="text-blue text-right text-landing">
 				Toma fotos que muestren el tamaño (escala)
 			</p>
 		</div>
 	</div>
 </section>
 
 <section>
  	
  		<div class="row">
  			<center>
  				<br><br><br><br class="hidden-xs">
  				<h2 class="text-blue text-bold subtitle-landing">
  					¿Tomas fotos con tu teléfono?
  				</h2>
  				<br><br><br><br class="hidden-xs">
  			</center>
  			
  		</div>
  	
  </section>
  
  <section class="" id='2'>
   	  <div class="flex-banner-container">
   	  	
   	  	<div class="flex-pictures-image6">
   	  		
   	  	</div>
   	  	
   	  	<div class="flex-banner-purple-square2">
   	  		<br>
   	  			<div class="row">
   	  				<div class="col-sm-1 col-sm-offset-0 text-white text-big">
   	  					1
   	  				</div>
   	  				<div class="col-sm-8 col-sm-offset-1">
   	  					<p class="text-white text-landing text-left">
   	  				 Mantén el lente de tu cámara limpio. Puedes usar un líquido 
   	  				para limpiar gafas, un paño suave o u hasta tu camiseta.
	   	  	
   	  				</div>
   	  			</div>
   	  			<br><br>
   	  			<div class="row">
   	  				<div class="col-sm-1 col-sm-offset-0 text-white text-big">
   	  					2
   	  				</div>
   	  				<div class="col-sm-8 col-sm-offset-1">
	   	  				<p class="text-white text-landing text-left">
		   	  				 Cambia a alta resolución. Asegúrate de configurar la mejor resolución de tu cámara.
		   	  			</p>
   	  		
   	  				</div>
   	  			</div>
   	  			
   	  			
   	  	</div>
   	  	
   	  </div>
   	  
  </section>
  
  
  <section class="" id='2'>
   	  <div class="flex-banner-container">
   	  	
   	  	<div class="flex-pictures-light-blue-square2">
   	  		<br>
   	  		<div class="row">
   	  			<div class="col-sm-1 col-sm-offset-0 text-blue text-big">
   	  				3
   	  			</div>
   	  			<div class="col-sm-8 col-sm-offset-1">
   	  				<p class="text-blue text-landing text-left">
   	  				 Reduce el movimiento de la cámara. Ponla en una superficie plana o usa el disparo 
   	  				automático para minimizar las tomas borrosas.</p>
   	  			</div>
   	  			
   	  		</div>
   	  		<div class="row">
   	  			<div class="col-sm-1 col-sm-offset-0 text-blue text-big">
   	  				4
   	  			</div>
   	  			<div class="col-sm-8 col-sm-offset-1">
   	  				<p class="text-blue text-landing text-left">
	   	  				Considera usar una aplicación para fotos. Usar una te podría 
	   	  				ayudar a tomar fotos con más detalle y editarlas.
   	  				</p>
   	  			</div>
   	  		</div>
   	  			
   	  		
   	  	</div>
   	  	<div class="flex-pictures-image7">
   	  		
   	  	</div>
   	  	
   	  </div>
   	  
  </section>
  
  <section class="">
	  	<div class="flex-banner-container">
	  		<div class="flex-seller-image5">
	  			<h2 class="text-purple-message text-left subtitle-landing text-bold">
	      			 ¿Tienes preguntas?
	      		</h2>
	      		<br>
	      		<p class="text-purple-message text-left text-optimal-banner">
	      			¡Tenemos respuestas! Escríbenos a contacto@soporteebay.com y con 
	      			gusto resolveremos tus dudas.
	      		</p>
	  		</div>
	  	</div>
  	</section>
 
<ebay-footer></ebay-footer>
