<ebay-header></ebay-header>
<div role="main" ng-init="init()">
 <script language='JavaScript1.1' async src='//pixel.mathtag.com/event/js?mt_id=1227678&mt_adid=195682&mt_exem=&mt_excl=&v1=&v2=&v3=&s1=&s2=&s3='></script>    
  <section id="top">
  	<div class="flex-banner-container">
  		
  		<div class="flex-seller-blue-square">
  			  <br><br><br>
      		<h1 class="text-white text-left subtitle-landing font-bold">
      			Identificadores del producto
      		</h1>
      	
  		</div>
  		<div class="flex-identifiers-image1">
  			
  		</div>
  		
  	</div>
  </section>
  <br><br><br>
  <section class="">
  	<div class="flex-banner-container">
  		<div class="row">
  			<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
  				<h2 class="text-blue title-message text-left">
		  			Conoce algunos de ellos
		  		</h2>	
		  		<br>
		  			<p class="text-blue message-text">
			  			Los identificadores de producto hacen que tus anuncios en eBay ganen más relevancia en 
			  			los motores de búsqueda. Usa identificadores para que tus compradores encuentren 
			  			tus artículos más fácilmente. 
			  		</p>
  			</div>
  			
  		</div>
  	</div>
  	<br><br>
  	<ul class="flex-identifiers-container hidden-xs">
  		<li class="flex-item3 text-blue text-form1"><span class="text-bold">Marca</span>
  		<br><br>
  		Es la marca de tu artículo. Fácil de identificar. 
  		Todos los artículos deben mostrar el nombre o logo de la compañía que los distribuye</li>
  		<li class="flex-item3 text-blue text-form1"><span class="text-bold">MPN</span><br><br>
  		Número de pieza del fabricante: De uso mundial, son una serie de números que identifican 
  		el artículo como hecho por el fabricante </li>
  		<li class="flex-item3 text-blue text-form1"><span class="text-bold">UPC</span><br><br>
  		Código universal de producto. Se usa mayormente en Norteamérica, son números que se 
  		impimen en productos en venta minorista</li>
  		<li class="flex-item3 text-blue text-form1"><span class="text-bold">ISBN</span><br><br>
  		Número internacional normalizado del libro. De uso mundial, se encuentra al lado del código 
  		de barras en la parte posterior de los libros</li>
  		
  	</ul>
  	
  	<div class="visible-xs">
  	    <ul class="flex-identifiers-container">
  		<li class="flex-item3 text-blue text-form1"><span class="text-bold">Marca</span>
  		<br><br>
  		Es la marca de tu artículo. Fácil de identificar. 
  		Todos los artículos deben mostrar el nombre o logo de la compañía que los distribuye</li>
  		<li class="flex-item3 text-blue text-form1"><span class="text-bold">MPN</span><br><br>
  		Número de pieza del fabricante: De uso mundial, son una serie de números que identifican 
  		el artículo cómo hecho por el fabricante</li>
  	</ul>
  	<ul class="flex-identifiers-container">
  	    <li class="flex-item3 text-blue text-form1"><span class="text-bold">UPC</span><br><br>
  		Código universal de producto. Se usa mayormente en Norteamérica, son números que se 
  		impimen en productos e venta minorista</li>
  		<li class="flex-item3 text-blue text-form1"><span class="text-bold">ISB</span><br><br>
  		Número internacional normalizado del libro. De uso mundial, se encuentra al lado del código 
  		de barras en la parte posterior de los libros</li>
  	</ul>
  		
  		
  	</div>
  
  
  </section>
  
  
   <section class="">
  	
  		<div class="flex-identifiers-image2">
  			<div class="flex-box">
  			    
  			</div>
  			<div class="flex-box-identifiers">
  			    <h2 class="text-purple-message title-message text-bold">
					Por qué usar identificadores 				
				 </h2>
  			</div>
  				
				
								
  		</div>
  	
  </section>
  
  <section class="">
  	<div class="flex-banner-container">
  		
  		<div class="flex-identifiers-purple-square">
  			<ul class="text-white text-left text-identifiers">
      			<li>Tus anuncios mejoran en resultados búsqueda</li><br>
      			<li>Tus compradores encuentran tus artículos con facilidad</li><br>
      			<li>Tu desempeño como vendedor se favorece</li><br>
      			<li>Tu anuncio gana con detalles especificos</li>
      		</ul>
      		
  			
  		</div>
  		<div class="flex-identifiers-image3">
  			
								
  		</div>
  	</div>
  </section>
  
 <section class="">
  	<div class="flex-banner-container">
  		<div class="flex-seller-image5">
  			<h2 class="text-purple-message text-left subtitle-landing text-bold">
      			 ¿Tienes preguntas?
      		</h2>
      		<br>
      		<p class="text-purple-message text-left text-optimal-banner">
      			¡Tenemos respuestas! Escríbenos a contacto@soporteebay.com y con 
      			gusto resolveremos tus dudas.
      		</p>
  		</div>
  	</div>
  </section>
  
<ebay-footer></ebay-footer>