<ebay-header></ebay-header>
<div role="main" ng-init="init()">
	<script language='JavaScript1.1' async src='//pixel.mathtag.com/event/js?mt_id=1227680&mt_adid=195682&mt_exem=&mt_excl=&v1=&v2=&v3=&s1=&s2=&s3='></script>
	<section class="">
		<div class="flex-banner-container">
			<div class="flex-tools-image1">
				
			</div>
			<div class="flex-tools-light-blue-square text-bold">
				<h1 class="text-blue text-left subtitle-landing text-bold">
      			 Herramientas y soluciones para tu negocio
	      		</h1>
	      		<br>
	      		<p class="text-blue text-left text-optimal-banner">
	      			Administra tus ventas de manera más efectiva 
	      		</p>
			</div>
			
		</div>
		
	</section>  
	
	<section class="">
	  	<div class="flex-banner-container">
	  		<div class="row">
	  			<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
	  				<br><br><br><br><br class="hidden-xs"><br class="hidden-xs"><br class="hidden-xs">
			  			<p class="text-gray90 message-text">
				  			A medida que aumentan tus ventas, también aumenta tu necesidad de administrarlas 
				  			y ahorrar tiempo. Descubre cuál de estas herramientas de eBay es la adecuada para ti.
				  		</p>
				  	<br><br><br><br><br class="hidden-xs"><br class="hidden-xs"><br class="hidden-xs">
	  			</div>
	  			
	  		</div>
	  	</div>
  	</section>
  	
  	<section class="">
  		<div class="flex-banner-container">
  			<div class="flex-tools-image2">
  				<h2 class="text-purple-message title-message text-right text-bold">
					Herramientas de eBay para vendedores
				 </h2>
  			</div>		
  		</div>
  		
  	</section>
  	
  	<section class="">
	  	<div class="flex-banner-container">
	  		<div class="flex-tools-image3">
	  								
	  		</div>
	  		<div class="flex-banner-purple-square2">
	  			<br><br>
	  			<h2 class="text-white text-left title-landing font-bold">
	      			Turbo Lister 
	      		</h2>
	      		<br>
	      		<p class="text-white text-left text-landing">
	      			Ahorra tiempo al crear anuncios con un editor de diseño y cargarlos en bloque. 
	      			Esta herramienta gratuita es recomendada para pequeños y medianos negocios.
	      		</p>
	      		<br><br>
	      		<b>
			  		<a class="text-white text-landing text-link" href="http://pages.ebay.com/sellerinformation/sellingresources/turbolister.html" target="_blank"> Úsala aquí &#8594;</a>
			  	</b>
	  			
	  		</div>
	  	</div>
  </section>
  
  	<section class="">
  		<div class="flex-banner-container">
  			<div class="flex-tools-image4">
  				<h2 class="text-purple-message title-landing text-left text-bold">
					Administrador de ventas
				 </h2>
				 <br><br><br>
				 <p class="text-purple-message text-landing text-left">
				 	Realiza un seguimiento de tus anuncios y ahorra tiempo administrando 
				 	los que están pendientes, activos o ya se vendieron.  
				 	
				 </p>
				 
				 <p class="text-purple-message text-landing text-left">
				 	Esta herramienta gratuita es recomendada para negocios de tamaño mediano. 
				 </p>
				 <br><br>
				 <b>
			  		<a class="text-purple-message text-landing text-link" href="http://pages.ebay.com/seller-center/listing/listing-advanced-sellers/bulk-editing-listing-tools.html" target="_blank"> Lee más aquí &#8594;</a>
			  	</b>
  			</div>		
  		</div>
  		
  	</section>
	
		<section class="">
	  	<div class="flex-banner-container">
	  		<div class="flex-tools-image5">
	  								
	  		</div>
	  		
	  		<div class="flex-tools-blue-square">
	  			<br>
	  			<h2 class="text-white text-left title-landing font-bold">
	      			Administrador de ventas Pro 
	      		</h2>
	      		<br>
	      		<p class="text-white text-left text-landing">
	      			Crea anuncios de aspecto profesional, los carga en bloque y los programa para su 
	      			publicación. Administra el inventario, imprime facturas y crea informes mensuales 
	      			sobre desempeño de tus ventas.<br>
	      			Recomendada para vendedores de gran volumen o negocios en crecimiento.  
	      		</p>
	      		<br>
	      		<b>
			  		<a class="text-white text-landing text-link" href="http://pages.ebay.com/seller-center/listing/listing-advanced-sellers/bulk-editing-listing-tools.html" target="_blank">Suscríbete aquí &#8594;</a>
			  	</b>
	  			
	  		</div>
	  	</div>
  </section>
  	<section class="">
  		<div class="flex-banner-container">
  			<div class="flex-tools-image6">
  				<h2 class="text-purple-message title-message text-left text-bold">
					Intercambio de archivos 
				 </h2>
				 <br>
				 <p class="text-purple-message message-text text-left">
				 Herramienta gratuita integral para anunciar en bloque desde una hoja de cálculo o CSV. 
				 	
				 </p>
				 
				 <p class="text-purple-message message-text text-left">
				 	Descarga los anuncios activos y los informes del historial de ventas.
				 </p>
				 <br><br>
				 <b>
			  		<a class="text-purple-message text-landing text-link" href="http://pages.ebay.com/seller-center/listing/listing-advanced-sellers/file-exchange.html" target="_blank">Infórmate aquí &#8594;</a>
			  	</b>
  			</div>		
  		</div>
  		
  	</section>
  	
  	 <section class="">
	  	<div class="flex-banner-container">
	  		<div class="flex-seller-image5">
	  			<h2 class="text-purple-message text-left subtitle-landing text-bold">
	      			 ¿Tienes preguntas?
	      		</h2>
	      		<br>
	      		<p class="text-purple-message text-left text-optimal-banner">
	      			¡Tenemos respuestas! Escríbenos a contacto@soporteebay.com y con 
	      			gusto resolveremos tus dudas.
	      		</p>
	  		</div>
	  	</div>
  	</section>
	
	
</div>

<ebay-footer></ebay-footer>