<ebay-header></ebay-header>
<div role="main" ng-init="init()">
  <section class="optimalPublications-seccion1bg" id='top'>
    <div class="container-fluid">
    	<br><br><br><br><br><br><br>
      <div class="row">
      	<div class="col-sm-4 col-sm-offset-1 col-xs-11 col-xs-offset-0">
      		<p class="text-blue text-big text-left">Optimiza tus publicaciones</p>
      	</div>
      	
      </div>
      <div class="row">
      	<div class="col-sm-3 col-sm-offset-1 col-xs-11">Mejora tus ventas haciendo mejoras sencillas a tus publicaciones</p>
      	</div>
      </div>
     	                
     </div>
     <br><br><br><br><br><br><br><br>
   </section>  
   
   <section class='' id='optimal1'>
   	<br><br><br><br><br>
		<div class='container-fluid text-center'>
			
			<div class="row">
			  <div class="col-sm-5 col-sm-offset-1 col-xs-8">
			    <img src="/images/Main_Menu_Photo1.png">
			    <h3 class="text-left text-blue">Recomendaciones al publicar</h3>
			    <p class="text-left">Darles un gran servicio a tus compradores es clave para vender de manera exitosa. Aquí te presentamos
			    algunas estrategias de venta que te ayudarán a mejorar tus transacciones.</p>
			    <br>
			    <p class="text-left"><a href="#">Aprende más</a></p>
			  </div>
			  <div class="col-sm-5 col-xs-8">
			    <img src="/images/Main_Menu_Photo2.png">   
			    <h3 class="text-left text-blue">Móviles primero</h3>
			    <p class="text-left">Haz las compras aún más fáciles en dispositivos móviles. Optimiza tus publicaciones para móviles.</p>
			    <br>
			    <p class="text-left"><a href="#">Aprende más</a></p>
			  </div>
			
			</div>
  	</div>
	</section>
	
	<section class='' id='optimal2'>
   	<br><br><br>
		<div class='container-fluid text-center'>
			<div class="square">
				<br><br>
			<div class="row">
			  <div class="col-sm-5 col-sm-offset-1 col-xs-8">
			    <img src="/images/Main_Menu_Photo3.png">
			    <h3 class="text-left text-blue">Identificadores de producto requeridos</h3>
			    <p class="text-left">Mejora tu visibilidad de búsqueda. Agrega identificadores de producto
			    a tus publicaciones.</p>
			    <br>
			    <p class="text-left"><a href="#">Aprende más</a></p>
			  </div>
			  <div class="col-sm-5 col-xs-8">
			    <img src="/images/Main_Menu_Photo4.png">   
			    <h3 class="text-left text-blue">eBay Seller Hub</h3>
			    <p class="text-left">El lugar donde puedes crecer y administrar tu negocio.</p>
			    <br>
			    <p class="text-left"><a href="#">Aprende más</a></p>
			  </div>
			</div>
			</div>
  	</div>
	</section>
	
	<section class='' id='optimal3'>
   	<br><br><br><br><br>
		<div class='container-fluid text-center'>
			<div class="row">
			  <div class="col-sm-5 col-sm-offset-1 col-xs-8">
			    <img src="/images/Main_Menu_Photo5.png">
			    <h3 class="text-left text-blue">Herramientas para publicar</h3>
			    <p class="text-left">Usar estas herramientas puede ayudarte a vender de manera más eficiente, así como
			    escalar el volumen del inventario que muestras en eBay.</p>
			    <br>
			    <p class="text-left"><a href="#">Aprende más</a></p>
			  </div>
			  <div class="col-sm-5 col-xs-8">
			    <img src="/images/Main_Menu_Photo6.png">   
			    <h3 class="text-left text-blue">Recomendaciones de imágenes</h3>
			    <p class="text-left">Mientras más claras y precisas sean las fotos que muestres, más fácil será
			    para los compradores el encontrar tus publicaciones y hacer decisiones de compras.</p>
			    <br>
			    <p class="text-left"><a href="#">Aprende más</a></p>
			  </div>
			</div>
  	</div>
	</section>
	
	
	
</div>
<br><br><br><br><br><br><br><br>
<ebay-footer></ebay-footer>