<ebay-header2></ebay-header2>

<div role="main" ng-init="init()">
	<br><br>
	<div class="container">
	  <h2 class="text-center">Términos y Condiciones</h2>
	  <h3 class="text-center">“Crece con eBay – Empieza a vender sin comisiones”</h3>
	  <br>
	  <div class="row">
	    <div class="col-sm-6 col-sm-offset-3 col-xs-12">
    	  <h4 class="text-left">Términos y Condiciones</h4>
    	  <br>
    	  <p>Toda persona que desee participar en la promoción denominada “Crece con eBay - Empieza a vender sin comisiones” 
    	  (en adelante la <b>“Promoción”</b>) reconoce haber leído, comprendido y aceptado en su totalidad los presentes Términos y 
    	  Condiciones. 
        </p>
        <p>eBay Inc. y sus filiales y subsidiarias correspondientes (en adelante denominadas simplemente como “eBay”) , entienden que por el sólo hecho de que una persona se inscriba
				en la Promoción, esta se obliga a cumplir los presentes Términos y Condiciones, las
				<a href="http://pages.ebay.com/co/es-co/help/policies/overview.html">Condiciones de Uso</a> y 
				<a href="http://pages.ebay.com/co/es-co/help/policies/privacy-policy.html">Aviso de Privacidad</a> de eBay, 
				así como las <a href="http://pages.ebay.com/co/es-co/help/sell/selling-basics.html">Políticas aplicables a vendedores de eBay.</a></p>
        <p>Para los propósitos de los presentes Términos y Condiciones, los términos contenidos en los mismos, cuando sean utilizados con mayúscula inicial, tendrán el significado atribuido ya sea en los Términos y Condiciones, las Condiciones de Uso y la Política de Privacidad de eBay, así como en las políticas aplicables a vendedores que en su caso les resulten aplicables.</p>
    	  
    	  <br><hr><br>
    	  <h4 class="text-left">I. Los participantes</h4>
    	  <br>
    	  <p>Para ser considerado como Participante de la Promoción (“Participante”), la persona interesada deberá reunir 
    	  todos y cada uno de los siguientes requisitos:</p>
    	  <ul>
    	    <li>Ser mayor de 18 años;</li>
    	    <li>No haber tenido una Tienda en eBay en los últimos 12 meses;</li>
    	    <li>Cumplir con los requisitos para poder abrir una Tienda en eBay.com;</li>
    	    <li>Abrir una Tienda para operar dentro de eBay México y publicar en ella de 1 (uno) y hasta 10,000 
    	    (diez mil) artículos con una duración de publicación de al menos 5 (cinco) días y</li>
    	    <li>Cumplir y respetar los presentes Términos y Condiciones, las <a href="http://pages.ebay.com/co/es-co/help/policies/overview.html">Condiciones de Uso</a> y
			<a href="http://pages.ebay.com/co/es-co/help/policies/privacy-policy.html">Aviso de Privacidad</a>, así como 
			las <a href="http://pages.ebay.com/co/es-co/help/sell/selling-basics.html">Políticas aplicables a vendedores de eBay.</a></li>
    	  </ul>
    	  <p>No podrán considerarse como Participantes de la Promoción aquellas personas que no cumplan con todos los requisitos 
    	  anteriores o que sean familiares de un empleado o empleados de eBay Inc., hasta el tercer grado así como menores 
    	  de edad.</p>
    	  <p>Los Participantes que cumplan los requisitos mencionados anteriormente podrán disfrutar de ventas a través de eBay.com sin pago de tarifa por venta realizada, ni tarifa de
		
		publicación de artículos (<b>“Tarifa Promocional”</b>) durante el Periodo de Vigencia de la
		
		Promoción (como se define a continuación). </p>
		    	  <p>La Promoción quedará activada en un plazo de entre 3 (tres) a 5 (cinco) días hábiles
		
		después de que el Participante se haya registrado en eBay.com, por lo que antes de vender


		
		algún artículo, será responsabilidad del propio Participante consultar la sección “Mi eBay>
		
		Ventas>Ofertas Promocionales para comprobar que la Promoción se encuentre activa.</p>	
    	  
    	  <!--<br><hr><br>
    	  <h4 class="text-left">II. VIGENCIA DE LA PROMOCIÓN:</h4>
    	  <br>
    	  <p>La Promoción será por tiempo limitado dando comienzo el 25 de agosto de 2016 a las 00:00:00 y finalizando el 24 
    	  de noviembre de 2016 a las 23:59:59 (hora de la Ciudad de México) (en adelante el <b>“Periodo de Vigencia”</b>). </p>
    	  -->
    	  <br><hr><br>
    	  <h4 class="text-left">III. Mecánica de la promoción:</h4>
    	  <br>
    	  <p>Los Participantes que cumplan los requisitos establecidos en la sección I de los presentes Términos y 
    	  Condiciones, podrán recibir hasta 90 (noventa) días libres de pago de comisiones por ventas realizadas, y 
    	  tarifas de publicación en el anuncio aquellos artículos que pongan a la venta (sin que los mismos puedan exceder 
    	  de 10,000 artículos), en el entendido que los días libres de pago de comisiones comenzarán a correr a partir de 
    	  la fecha en que el(los) artículo(s) quede(n) anuncioado(s) en eBay.com, finalizando, en todos los casos, el 24 de 
    	  noviembre de 2016 a las 23:59:59 (hora de la Ciudad de México) es decir, al término del Periodo de Vigencia de 
    	  la Promoción.</p>
    	  <p>Durante el Período de Vigencia de la Promoción, eBay no cobrará tarifa por venta realizada ni tarifa por 
    	  tarifa de publicación.  Los Participantes podrán empezar a beneficiarse de la Tarifa Promocional a partir del 
    	  momento en que la Promoción quede
		  activada y hasta el término del Periodo de Vigencia de la Promoción.</p>
    	  <p>Si, manera excepcional un Participante que cumpla con todos los requisitos mencionados

				en la sección I de los presentes Términos y Condiciones, recibe una factura con cobro de
				
				comisiones, éste deberá de ponerse en contacto con nuestro servicio de Atención al cliente,
				
				a través del chat presentado en la página www.crececonebay.com o bien a través de nuestro
				
				correo contacto@soporteebay.com para que eBay verifique las causas por las cuales no le
				
				fue aplicada la Tarifa Promocional. En caso de que eBay encuentre que se trató de un error
				
				por parte de eBay, ésta reembolsará las comisiones que le fueron cobradas al Participante
				
				en un periodo máximo de 15 (quince) días hábiles desde que la solicitud fue aprobada.
				
				eBay no se encontrará obligado a reembolsar comisiones o cualquier otro tipo de cobro a
				
				aquellas personas que no hayan cumplido con alguno de los requisitos establecidos en la
				
				sección I de los presentes Términos y Condiciones.</p>
    	  <p>El Participante reconoce y acepta que la devolución del cobro de comisiones no opera de manera automática, 
    	  por lo que en caso de requerir llevar a cabo cualquier tipo de reembolso de comisiones deberá solicitarlo 
    	  poniéndose en contacto con el servicio de Atención al cliente de eBay. En este caso el Participante acepta que dicho crédito no le otorga derecho
				de indemnización de ningún tipo.</p>
  	  	  <p>El Periodo de Vigencia de la Promoción será continuo y no se suspenderá bajo ninguna circunstancia. 
  	  	  Por lo anterior, la Promoción será válida únicamente durante el Periodo de Vigencia; 
  	  	  en caso de que la publicación de un anuncio se dé de baja o se pause, los días
					libres de tarifa no se suspenderán ni pausarán, por lo que seguirán corriendo hasta llegar 
  	  	  al término del Periodo de Vigencia. </p>	
  	  	  <p>Una vez finalizado el Periodo de Vigencia de la Promoción, las tarifas de comisiones por publicación 
  	  	  de anuncios, así como la tarifa por ventas realizadas se cobrarán de manera regular de acuerdo a los montos 
  	  	  establecidos en eBay.com.</p>
  	  	  <p>Si, una vez finalizada la Promoción, el Participante no desea que se le cobre la tarifa sobre
  	  	  publicación o sobre venta realizada, éste deberá cancelar sus publicaciones antes de término del Periodo de 
  	  	  Vigencia de la Promoción, dígase las 23:59:59 horas (hora de la Ciudad de México) del 24 de noviembre de 2016. 
  	  	  En caso de que las publicaciones no sean canceladas antes del término del Periodo de Vigencia, eBay entenderá 
  	  	  que el Participante desea continuar vendiendo a través de eBay.com y por tanto se encuentra de acuerdo en aceptar el cargo regular por las comisiones y/o tarifas que se generen sobre cada venta generada o publicación.</p>
  	  	  <p>Los presentes Términos y Condiciones, así como las políticas, mecánica y restricciones de la 
  	  	  Promoción son inapelables, y no están sujetos a negociación o modificación de ninguna índole. 
  	  	  eBay se reserva el derecho de hacer cualquier tipo de cambio sin previo aviso, por lo cual el Participante se obliga a revisar periódicamente los presentes Términos y Condiciones durante el Periodo de Vigencia de la Promoción.</p>
  	  	  
  	  	  <br><hr><br>
  	  	  <h4 class="text-left">IV. Restricciones y exclusiones</h4>
  	  	  <br>
  	  	  <p>La Promoción resulta aplicable única y exclusivamente a las tarifas por publicación de anuncios, así como a 
  	  	  la tarifa por venta realizada, definidas en conjunto en los presentes Términos y Condiciones como 
  	  	  “Tarifa Promocional”, por lo que el resto de tarifas de eBay, tales como: las 
  	  	  <a href="http://pages.ebay.com/co/es-co/help/sell/fees.html">Tarifas de opciones avanzadas de anuncios y Tarifas 
  	  	  por servicios
					complementarios</a> se seguirán aplicando de manera regular.</p>
  	  	  <p>Cualquier Participante que haya puesto en venta artículos en los últimos 12 meses no podrá beneficiarse de la Tarifa Promocional. </p>
  	  	  <p>Si el Participante cumple los requisitos de inscripción en la Promoción, ésta solo será válida por una única vez por cada cuenta de usuario como vendedor en eBay.com.</p>
  	  	  <p>El vendedor podrá, durante el periodo de la promoción, terminar antes la vigencia de sus publicaciones. 
  	  	  En este caso, el vendedor acepta recibir únicamente la parte que así le
					
					corresponda con relación al Periodo de Vigencia de la Promoción. En caso de querer volver
					
					a poner en venta el artículo, no se otorgarán días libres de tarifa sobre 
  	  	  el mismo. </p>
  	  	  <p>La promoción no aplica para las siguientes categorías:</p>
  	  	  <ol>
  	  	  	<li>Bienes raíces (Real Estate);</li>
  	  	  	<li>Imprentas comerciales(Commercial Printing Presses);</li>
  	  	  	<li>Vehículos y remolques (Concession Trailers & Carts);</li>
  	  	  	<li>Equipos de imágenes y estética (Imaging & Aesthetics Equipment);</li>
  	  	  	<li>Equipo pesado (Heavy Equipment);</li>
  	  	  	<li>Automóviles y camiones (Cars and Trucks)</li>
  	  	  	<li>Motocicletas (Motorcycles)</li>
  	  	  	<li>Otros Vehículos y Trailers (Other Vehicles & Trailers)</li>
  	  	  	<li>Botes (Boats)</li>
  	  	  	<li>Casas rodantes y campers (RVs & Campers)</li>
  	  	  	<li>Deportes motorizados(Powersports)</li>
  	  	  </ol>
  	  	  
  	  	  <br><hr><br>
  	  	  <h4 class="text-left">V. Responsabilidades</h4>
  	  	  <br>
  	  	  <p>A través de los presentes Términos y Condiciones, los Participantes quedarán obligados a liberar a eBay, así como a sus proveedores en contra de cualquier acción legal derivada de:</p>
  	  	  <ul>
  	  	  	<li>Fallas técnicas de cualquier clase (computadoras, cables, conexión a la red, hardware o software).</li>
  	  	  	<li>La indisponibilidad o inaccesibilidad de cualquier servicio de internet.</li>
  	  	  </ul>
  	  	  <p>eBay se reserva el derecho a dar de baja cualquier artículo que no cumpla con 
  	  	  las Prácticas
de venta <a href="http://pages.ebay.com/co/es-co/help/policies/selling-practices.html">de eBay.</a></p>
  	  	  <p>Cualquier intento o ejecución de aplicación de programas o sistemas que pretendan atacar o vulnerar la Promoción, podrá ser perseguido con las acciones legales pertinentes que a criterio de eBay Inc. sean suficientes. En este caso, eBay podrá suspender de manera inmediata y definitiva al Participante de eBay.com, sin responsabilidad alguna para eBay. </p>
  	  	  <p>El Participante se encuentra de acuerdo en que toda decisión de eBay con respecto a la Promoción, será inapelable y definitiva.</p>
  	  	  
  	  	  <br><hr><br>
  	  	  <h4 class="text-left">VI. Condiciones</h4>
  	  	  <br>
  	  	  <p>eBay se reserva el derecho de suspender, cambiar o cancelar esta Promoción en cualquier momento en el caso de que se produzcan circunstancias que eBay considere suficientes para adoptar estas medidas. eBay se reserva el derecho de añadir términos y condiciones adicionales para determinadas partes de la Promoción.</p>
  	  	  <p>eBay se reserva el derecho de excluir de la Promoción a cualquier Participante que no cumpla o acepte: 
  	  	  los presentes Términos y Condiciones, 
  	  	  <a href="http://pages.ebay.com/co/es-co/help/policies/overview.html">Condiciones de Uso</a>
  	  	  y <a href="http://pages.ebay.com/co/es-co/help/policies/privacy-policy.html">Aviso de Privacidad</a> de eBay, 
  	  	  así como las <a href="http://pages.ebay.com/co/es-co/help/sell/selling-basics.html">Políticas aplicables a vendedores</a>.</p>
  	  	  <p>La decisión que tome eBay sobre cualquier aspecto de esta promoción es definitiva y no se atenderá ninguna reclamación.</p>
  	  	  <p>Aquello que no quede específicamente contemplado en los presentes Términos y Condiciones, se estará a lo dispuesto 
  	  	  en los Términos y Condiciones de eBay.com, sus Condiciones de Uso, el Aviso de Privacidad, o las Políticas aplicables a vendedores de
eBay.</p>
  	  	  
  	  </div>
	  </div>
	  
	  
	  
	</div>
</div>

<ebay-footer></ebay-footer>