<ebay-header></ebay-header>
<div role="main" ng-init="init()">
<script language='JavaScript1.1' async src='//pixel.mathtag.com/event/js?mt_id=1227673&mt_adid=195682&mt_exem=&mt_excl=&v1=&v2=&v3=&s1=&s2=&s3='></script>
<section class="">
	<div class="flex-banner-container">
		<div class="flex-why-image">
			
		</div>
		
		<div class="flex-banner-purple-square">
			<div class="col-sm-9 col-sm-offset-1 col-xs-12 col-xs-offset-0  text-left">
              			<br><br class="hidden-xs">
              			<h1 class="text-white text-left title-landing">Gana más dinero con ventas internacionales</h1>
              			<p class="text-white text-banner">Ofrece tus artículos a millones de compradores a través de eBay y vende 
              			en línea con comodidad</p>
    					<br><br><br>
              			<button class="btn btn-white-bordered btn-responsive hidden-xs" onclick="window.location.href='/bienvenido'">
              				<span>Regístrate</span>
      					</button>
      					
      					<button class="btn btn-white-bordered btn-responsive visible-xs" onclick="window.location.href='/bienvenido'">
              				Regístrate &#8594;
      					</button>
    				</div>
		</div>
	</div>
</section>

<section class='whyeBay-seccion2-bg'>
	  	
		<div class='container-fluid text-center' id='seccion1'>
			<br><br><br>
			<div class="row text-blue">
					
					<div class="col-sm-3 col-sm-offset-1 hidden-xs text-left">
						<h5 class="title-why">Más ventas</h5>
						<br><p class="text-why">Millones de compradores buscan en eBay artículos populares de vendedores confiables.</p>
					</div>
					<div class="col-xs-4 visible-xs text-left">
						<h5 class="title-why">Más<br> ventas</h5>
						<br><p class="text-why">Millones de compradores buscan en eBay artículos populares de vendedores confiables.</p>
					</div>
				    
				    <div class="col-sm-3 col-sm-offset-1 hidden-xs text-left">
						<h5 class="title-why">Más fácil</h5>
						<br><p class="text-why">Pon en venta tus productos  o recibe ayuda de nuestro Asistente de ventas.</p>
				    </div>
				    <div class="col-xs-4 visible-xs text-left">
						<h5 class="title-why">Más<br> fácil</h5>
						<br><p class="text-why">Pon en venta tus productos  o recibe ayuda de nuestro Asistente de ventas.</p>
				    </div>
					
					<div class="col-sm-3 col-sm-offset-1 hidden-xs text-left">
						<h5 class="title-why">Más protección</h5>
						<br><p class="text-why">Con el programa de <br>Devolución de tu Dinero <br>de eBay.</p>
				    </div>
				    <div class="col-xs-4 visible-xs text-left">
						<h5 class="title-why">Más<br> protección</h5>
						<br><p class="text-why">Con el programa de <br>Devolución de tu Dinero <br>de eBay.</p>
				    </div>
					
					
			
			</div>
			<br><br><br>
		</div>
	</section>
	
	<section class=''>
		
		<div class="row no-gutter text-why">
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="whySquare1">
					<p class="text-purple">
						&nbsp;&nbsp;Relojes
					</p>
				</div>
				
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="whySquare2">
					<p class="text-light-blue">
						&nbsp;&nbsp;Hogar y jardín
					</p>
				</div>
				
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="whySquare3">
					<p class="text-purple">
						&nbsp;&nbsp;Partes y accesorios
					</p>
				</div>
				
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="whySquare4">
					<p class="text-light-blue">
						&nbsp;&nbsp;Tecnología
					</p>
				</div>
				
			</div>
		</div>
		
		<div class="row no-gutter">
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="whySquare5">
					<p class="text-light-blue">
						&nbsp;&nbsp;Ropa, calzado y accesorios
					</p>
				</div>
				
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="whySquare6">
					<p class="text-purple">
						&nbsp;&nbsp;Coleccionables
					</p>
				</div>
				
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="whySquare7">
					<p class="text-light-blue">
						&nbsp;&nbsp;Artesanías
					</p>
				</div>
				
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="whySquare8">
					<p class="text-purple">
						&nbsp;&nbsp;Libros
					</p>
				</div>
				
			</div>
		</div>
		
		
	</section>
	
	<section class="whyeBay-seccion4-bg">
		
		<br><br><br><br>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
				<h2 class="text-center text-white title-why">
					Comienza hoy y haz despegar tu negocio
				</h2>
			</div>
		</div>
		
		<ul class="flex-container2">
			<li class="flex-item-why">
				<div class="bs-example">
							<p class="text-white text-why">¿Por qué<br> vender<br> en eBay?</p>
							<br>
							
	   			 			<a data-target="#myModal" data-toggle="modal">
		   			 			<button class="btn btn-white-bordered btn-responsive hidden-xs" ng-click="setFocusToTextBox()"><span>Ver video</span>
		            			</button>
		            			<!--mobile button-->
		            			<button class="btn btn-white-bordered btn-responsive visible-xs" ng-click="setFocusToTextBox()">Ver video &#8594;
		            			</button>
		   			 			
		   			 			</a>
		    					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  							<div class="modal-dialog">
		   								<div class="modal-content">
		    
		        						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        						<iframe id="video" width="100%" height="100%" src="https://www.youtube.com/embed/wh_cww_lNsU" frameborder="0" allowfullscreen></iframe>
		        				
		        					</div>
		   	  					</div>
		  					</div>
						</div>
			</li>
			
			<li class="flex-item-why">
				<div class="bs-example">
							<p class="text-white text-why">Consejos<br> para nuevos<br> vendedores</p>
							<br>
							<a data-target="#modalVid2" data-toggle="modal">
	   			 				
	   			 				<button class="btn btn-white-bordered btn-responsive hidden-xs" ng-click="setFocusToTextBox()"><span>Ver video</span>
            					</button>
            					
            					<!--mobile button-->
		            			<button class="btn btn-white-bordered btn-responsive visible-xs" ng-click="setFocusToTextBox()">Ver video &#8594;
		            			</button>
		   			 			
		   			 		</a>
		    					<div class="modal fade" id="modalVid2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  							<div class="modal-dialog">
		   								<div class="modal-content">
		    
		        						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        						<iframe id="video2" width="100%" height="100%" src="https://www.youtube.com/embed/XeUkp9rLumY" frameborder="0" allowfullscreen></iframe>
		        				
		        					</div>
		   	  					</div>
		  					</div>
						</div>
			</li>
			<li class="flex-item-why">
				<div class="bs-example">
							<p class="text-white text-why">¿Cómo<br> vender<br> en ebay?</p>
							<br>
	   			 			<a data-target="#modalVid3" data-toggle="modal">
		   			 			<button class="btn btn-white-bordered btn-responsive hidden-xs" ng-click="setFocusToTextBox()"><span>Ver video</span>
            					</button>
            					<!--mobile button-->
		            			<button class="btn btn-white-bordered btn-responsive visible-xs" ng-click="setFocusToTextBox()">Ver video &#8594;
		            			</button>
	   			 			</a>
	    					<div class="modal fade" id="modalVid3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  							<div class="modal-dialog">
	   								<div class="modal-content">
	    
	        						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        						<iframe id="video3" width="100%" height="100%" src="https://www.youtube.com/embed/s9dRBwWPvF0" frameborder="0" allowfullscreen></iframe>
	        					
	        					</div>
	   	  					</div>
		  				</div>
					</div>	
			</li>
		</ul>
		
		
	
		
		<br><br><br><br><br><br>
		
	</section>
	
	
	
	
</div>
<ebay-footer></ebay-footer>